{% extends 'base.html.twig' %}

{% block title %}Search expansion chips - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a expansion chip by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansionchipsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('expansionchipsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" width="24" height="24" alt="chip">
            <code class="text-pink-500">Expansion chips</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_expansionchip', 'action':path("expansionchipsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('expansionchiplivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="32" height="32">
			Search for expansion chips
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_expansionChipManufacturer">
					<span>Manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.expansionChipManufacturer) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'expansion-chips', 'dataresetids': 'search_expansionChipManufacturer', 'search_with_images' : true} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_type">
							<span>Chip type</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.type) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_deviceId">
							<span>Device ID</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.deviceId) }}</div>
						</div>
					</div>
				</section>
				<div class="search-buttons">
					<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
						<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
						<span>Reset</span>
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestChips is defined %}
		{% include 'macros/lastedited.html.twig' with {'entity': latestChips, 'type':'chip', 'entity_label':'chips', 'path': 'expansion_chip_show'} %}
	{% endif %}
	{% if expansionchips is defined %}
		{% include 'expansion_chip/result.html.twig' with {'expansionchips': expansionchips, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
