{% extends 'base.html.twig' %}

{% block title %}
	{{ cddrive.getFullName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion chip:{{ cddrive.getFullName() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ cddrive.getFullName() }}">
	<meta property="og:description" content="Get info, images and documentation for the {{ cddrive.getFullName() }} optical drive">
	{% if cddrive.getStorageDeviceImages() is not empty %}
		{% for image in cddrive.getStorageDeviceImages()|filter(a => a.type in ["1", "2", "3"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('cd_drive_show', {id: cddrive.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('cddsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/cd_drive.svg')) }}" width="24" height="24" alt="cdd">
            <code class="text-pink-500">Optical drives</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{cddrive.getId()}}</code>
    </div>
</li>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	{% if cddrive.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: cddrive.getManufacturer().getId()}) }}">{{ cddrive.getManufacturer().getName() }}</a>&nbsp;{{ cddrive.getNameWithoutManuf() }}
	{% else %}
		{{ cddrive.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': cddrive, 'entityName': 'CdDrive', 'types': [], 'name': 'optical drive', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-split">
					<div class="quick-spec-table">
						<!-- Interface -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/io.svg')) }}" alt="cpu" width="24" height="24">Interface{% if cddrive.getInterfaces()|length > 1 %}s{% endif %}
						</div>
						{% if cddrive.getInterfaces() is not empty %}
							<div class="tag-container">{% for interface in cddrive.getInterfaces() %}<span class="text-block">{{ interface.getName}}</span>{% endfor %}</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						<!-- Power connectors -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="pwr" width="24" height="24">Power connector
						</div>
						{% if cddrive.getPowerConnectors() is not empty %}
							<div class="tag-container">{% for power in cddrive.getPowerConnectors() %}
								<a href="{{ path('psu_connector_show', {id: power.getId()}) }}"><span class="text-block">{{ power.getName() }}</span></a>{% endfor %}
							</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						<!-- Size -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="" width="24" height="24">Form factor
						</div>
						<div>{{ cddrive.getPhysicalSize() }}</div>
						<!-- Tray -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/cd_drive.svg')) }}" alt="" width="24" height="24">Tray type
						</div>
						<div>{{ cddrive.getTrayType() }}</div>
					</div>
					<div class="quick-spec-table">
						<!-- CD read -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/cd.svg')) }}" alt="cdr" width="24" height="24">CD read speed
						</div>
						<div>{{ cddrive.getCdReadSpeed() ? cddrive.getCdReadSpeed() ~ 'x' : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- CD write -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/cd.svg')) }}" alt="cdw" width="24" height="24">CD write speed
						</div>
						<div>{{ cddrive.getCdWriteSpeed() ? cddrive.getCdWriteSpeed() ~ 'x' : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- DVD read -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/dvd.svg')) }}" alt="dvdr" width="24" height="24">DVD read speed
						</div>
						<div>{{ cddrive.getDvdReadSpeed() ? cddrive.getDvdReadSpeed() ~ 'x' : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- DVD write speed -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/dvd.svg')) }}" alt="dvdw" width="24" height="24">DVD write speed
						</div>
						<div>{{ cddrive.getDvdWriteSpeed() ? cddrive.getDvdWriteSpeed() ~ 'x' : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':cddrive.getStorageDeviceAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': cddrive} %}
				{% include 'macros/manuals.html.twig' with {'entity': cddrive.getStorageDeviceDocumentations(), 'entity_label':'', 'audit_entity':'App-Entity-StorageDeviceDocumentation'} %}
				{% include 'macros/miscfiles.html.twig' with {'entity': cddrive.getStorageDeviceMiscFiles(), 'audit_entity':'App-Entity-StorageDeviceMiscFile'} %}
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ cddrive.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if cddrive.getStorageDeviceImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in cddrive.getStorageDeviceImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.getType <=> b.getType) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'expansionchip', 'entity': image, 'index': lpindex, 'length': cddrive.getStorageDeviceImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\CdDriveCrudController').setAction('edit').setEntityId(cddrive.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/cdd-missing.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/cdd-missing.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
