{% extends 'base.html.twig' %}

{% block title %}Search expansion cards - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a expansion card by name, manufacturer, etc.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansioncardsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('expansioncardsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" width="24" height="24" alt="card">
            <code class="text-pink-500">Expansion cards</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_expansioncard', 'action':path("expansioncardsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('expansioncardlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="card" width="32" height="32">
			Search for expansion cards
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_manufacturer">
					<span>Manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.manufacturer) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'expansioncards', 'dataresetids': 'search_manufacturer', 'search_with_images' : true} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_type">
							<span>Expansion slot</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.cardExpansionSlot) }}</div>
						</div>
					</div>
					<div class="search-form-filter">
						<label class="search-form-label flex">
							<span>Type</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cardTypes'} %}
						</label>
						<div class="search-form-widget filter-list" id="cardTypes-fields-list" data-widget-counter="{{ form.cardTypes|length }}" data-prototype="
							{{ form_widget(form.cardTypes.vars.prototype)|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}">
							{% for type in form.cardTypes %}
								<div class="editor-row">
									{{ form_widget(type) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(type) }}
								</div>
								{{ form_errors(port.count) }}
							{% endfor %}
						</div>
					</div>

					<div class="search-form-filter">
						<label class="search-form-label flex">
							<span>I/O ports</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cardIoPorts'} %}
						</label>
						<div class="search-form-widget filter-list" id="cardIoPorts-fields-list" data-widget-counter="{{ form.cardIoPorts|length }}" data-prototype="
							{{ form_widget(form.cardIoPorts.vars.prototype.count, {'attr': {'class': 'num'}} )|e }} x
							{{ form_widget(form.cardIoPorts.vars.prototype.io_port)|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}">
							{% for port in form.cardIoPorts %}
								<div class="editor-row">
									{{ form_widget(port.count, {'attr': {'class': 'num'}}) }} x
									{{ form_widget(port.io_port, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
								</div>
								{{ form_errors(port.count) }}
							{% endfor %}
						</div>
					</div>
				</section>
				<section class="search-form-grid bordertop">
					<div class="search-form-entry">
						<label class="search-form-label flex">
							<span>Expansion chips</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'expansionChips'} %}
						</label>
						<div class="search-form-widget filter-list" id="expansionChips-fields-list" data-widget-counter="{{ form.expansionChips|length }}" data-prototype="
							{{ form_widget(form.expansionChips.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for expchip in form.expansionChips %}
								<div class="editor-row">
									{{ form_widget(expchip, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(expchip) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label flex" title="">
							<span>RAM type</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'dramTypes'} %}
						</label>
						<div class="search-form-widget filter-list" id="dramTypes-fields-list" data-widget-counter="{{ form.dramTypes|length }}" data-prototype="
							{{ form_widget(form.dramTypes.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for type in form.dramTypes %}
								<div class="editor-row">
									{{ form_widget(type, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(type) }}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<div class="search-buttons">
					<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
						<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
						<span>Reset</span>
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestCards is defined %}
		{% include 'macros/lastedited.html.twig' with {'entity': latestCards, 'type':'card', 'entity_label':'expansion cards', 'path': 'expansioncard_show'} %}
	{% endif %}
	{% if expansioncards is defined %}
		{% include 'expansioncard/result.html.twig' with {'expansioncards': expansioncards, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
