{% extends 'base.html.twig' %}

{% block title %}
	{{ expansioncard.getFullName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion card:{{ expansioncard.getFullName() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ expansioncard.getFullName() }}">
	<meta property="og:description" content="Get info, images and drivers for the {{ expansioncard.getFullName() }} expansion card">
	{% if expansioncard.getImages() is not empty %}
		{% for image in expansioncard.getImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.type <=> a.type)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/card-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/card-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansioncard_show', {id: expansioncard.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('expansioncardsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" width="24" height="24" alt="card">
            <code class="text-pink-500">Expansion cards</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{expansioncard.getId()}}</code>
    </div>
</li>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	{% if expansioncard.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: expansioncard.getManufacturer().getId()}) }}">{{ expansioncard.getManufacturer().getName() }}</a>&nbsp;{{ expansioncard.getName() }}
	{% else %}
		{{ expansioncard.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': expansioncard, 'entityName': 'ExpansionCard', 'types': ['chipspecs', 'bios', 'drivers', 'docs'], 'name': 'card', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-split">
					<div class="quick-spec-table">
						<!-- Type -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="type" width="24" height="24">Type</div>
						{% if expansioncard.getType() is not empty %}
							<div class="tag-container">
								{% for type in expansioncard.getType() %}
								<span class="text-block">{{ type }}</span>
								{% endfor %}
							</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						<!-- Expansion Slot preset -->
						{% if expansioncard.getExpansionSlotInterfaceSignal() is not empty %}
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/pci_slot_smol.svg')) }}" alt="interface" width="24" height="24">Interface</div>
						<div><a href="{{ path('expansion_slot_show', {id: expansioncard.getExpansionSlotInterfaceSignal().getId()}) }}"
							>{{ expansioncard.getExpansionSlotInterfaceSignal().getName() }}</a>
						</div>
						{% endif %}
						<!-- Expansion Slot connector -->
						{% if expansioncard.getExpansionSlotInterface() is not empty %}
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/exp_slot.svg')) }}" alt="connector" width="24" height="24">Slot connector</div>
						<div>{{ expansioncard.getExpansionSlotInterface().getName() }}</a></div>
						{% endif %}
						<!-- Expansion Slot signal -->
						{% if expansioncard.getExpansionSlotSignals() is not empty %}
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/signal.svg')) }}" alt="signal" width="24" height="24">Slot signals</div>
						<div class="tag-container">
							{% for slotSignal in expansioncard.getExpansionSlotSignals()|sort((a, b) => a.getName() <=> b.getName()) %}
								<span class="text-block">{{ slotSignal.getName() }}</span>
							{% endfor %}
						</div>
						{% endif %}
						<!-- Slot height-->
						{% if expansioncard.getSlotCount() is not null %}
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="dim" width="24" height="24">Slot height</div>
						<div>{{ expansioncard.getSlotCount() }}</div>
						{% endif %}
					</div>
					<div class="quick-spec-table">
						<!-- Device ID -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="date" width="24" height="24">PCI ID</div>
						<div class="tag-container">
						{% if expansioncard.getPciDevs() is not empty %}
							{% for device in expansioncard.getPciDevs() %}
								<span class="text-block">{{device.getDev()}}</span>
							{% endfor %}
						{% elseif expansioncard.getExpansionChips()|filter(a => a.pciDevs is not empty) is not empty %}
							{% for chip in expansioncard.getExpansionChips()|filter(a => a.pciDevs is not empty) %}
								{% for device in chip.getPciDevs() %}
									<span class="text-block">{{device.getDev()}}</span>
								{% endfor %}
							{% endfor %}
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						</div>
						<!-- FCC ID -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/factory.svg')) }}" alt="fcc" width="24" height="24">FCC ID</div>
						<div>{{ expansioncard.getFccId() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- Supported RAM types -->
						{% if expansioncard.getDramType() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">RAM type{% if expansioncard.getDramType()|length > 1 %}s{% endif %}
						</div>
						<div class="tag-container">{% for dram in expansioncard.getDramType() %}<span class="text-block">{{ dram.getName() }}</span>{% endfor %}</div>
						{% endif %}
						<!-- Max card RAM -->
						{% if expansioncard.getRamSize() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">RAM size
						</div>
						<div class="tag-container">{% for size in expansioncard.getRamSize() %}<span class="text-block">{{ size.getValueWithUnit()}}</span>{% endfor %}</div>
						{% endif %}
						<!-- Memory connectors -->
						{#% if expansioncard.getExpansionCardMemoryConnectors() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">RAM connectors
						</div>
						<div class="tag-container">
							{% for slot in expansioncard.getExpansionCardMemoryConnectors()|sort((a, b) => a.getMemoryConnector().getName() <=> b.getMemoryConnector().getName()) %}
									<span class="text-block"><b>{{ slot.getCount() }}x&nbsp;</b>{{ slot.getMemoryConnector().getName() }}</span>
							{% endfor %}
						</div>
						{% endif %#}
						<!-- Dimensions -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="dim" width="24" height="24">Dimensions</div>
						{% if expansioncard.getWidth() is not null or expansioncard.getLength() is not null or expansioncard.getHeight() is not null %}
							<div>{{ expansioncard.getWidth() ? expansioncard.getWidth() ~ " mm (width)" }}
							{{ expansioncard.getLength() ? (expansioncard.getWidth() ? " x ") ~ expansioncard.getLength() ~ "mm (length)" }}
							{{ expansioncard.getHeight() ? (expansioncard.getLength() or expansioncard.getWidth() ? " x ") ~ expansioncard.getHeight() ~ "mm (height)" }}</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
					</div>
				</div>
				<div class="full-spec">
					<!-- IO ports -->
					<div class="full-spec-head"><img src="{{ absolute_url(asset('build/icons/rs232.svg')) }}" alt="portint" width="24" height="24"><b>I/O ports</b></div>
					<div class="list-table">
						{% if expansioncard.getIoPorts() is not empty %}
							{% for port in expansioncard.getIoPorts()|sort((a, b) => a.getIoPortName() <=> b.getIoPortName()) %}
								<div class="list-table-head">
									<b>{{ port.getCount() }}x&nbsp;</b>
								</div>
								{% if port.getIoPortInterfaceSignal() is not empty %}
									<div><a href="{{ path('io_port_show', {id: port.getIoPortInterfaceSignal().getId()}) }}">{{ port.getIoPortInterfaceSignal().getName() }}</a></div>
									{% if port.getIoPortInterface() is not empty %}
										<div class="list-table-head"></div>
										<ul style="margin-top:0;margin-bottom:0;list-style:none;padding:0;">
											<li>{{ port.getIoPortInterface().getName() }}{% if port.getIoPortSignals() is not empty %}{% for type in port.ioPortSignals() %}, {{type.getName()}}{% endfor %}{% endif %}</li>
										</ul>
									{% endif %}
								{% else %}
									<div>{{ port.getIoPortInterface().getName() }}{% if port.getIoPortSignals() is not empty %}{% for type in port.ioPortSignals() %}, {{type.getName()}}{% endfor %}{% endif %}</div>
								{% endif %}
							{% endfor %}
						{% else %}<div class="list-table-head"></div><div><span class='badge badge-secondary'>Empty</span></div>{% endif %}
					</div>
					<div class="full-spec-head"><img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="power" width="24" height="24"><b>Power connectors</b></div>
					<div class="list-table">
						{% if expansioncard.getExpansionCardPowerConnectors() is not empty %}
							{% for conn in expansioncard.getExpansionCardPowerConnectors()|sort((a, b) => a.getPowerConnector().getName() <=> b.getPowerConnector().getName()) %}
								<div class="list-table-head">
									<b>{{ conn.getCount() }}x&nbsp;</b>
								</div>
								<div><a href="{{ path('psu_connector_show', {id: conn.getPowerConnector().getId()}) }}">{{ conn.getPowerConnector().getName() }}</a></div>
							{% endfor %}
						{% else %}<div class="list-table-head"></div><div><span class='badge badge-secondary'>Empty</span></div>{% endif %}
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':expansioncard.getExpansionCardAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': expansioncard} %}
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ expansioncard.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
			<div class="show-expchips" id="sh-expchips">
				<!-- Expansion chips -->
				{% if expansioncard.getExpansionChips() is not empty %}
				<div class="quick-spec-table">
					{% for type in expansionchiptype %}
						{% for chip in expansioncard.getExpansionChips()|filter(a => a.getType().getName() == type.getName())%}
							{% if loop.first %}<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">{{chip.getType().getName()}} chips</div><div class="tag-container">{% endif %}
							
							{% if (attribute(chip, 'getExpansionChipBios') is defined)%}
							<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}"><span class="text-block">{{ chip.getFullName() }}</span></a>
							{% else %}
							<a href="{{ path('processor_show', {id: chip.getId()}) }}"><span class="text-block">{{ chip.getFullName() }}</span></a>
							{% endif %}
							{% if loop.index == expansioncard.getExpansionChips()|filter(a => a.getType().getName() == type.getName())|length %}</div>{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
				{% else %}
					<div>No chips</div>
				{% endif %}
				<!-- Card specs -->
				{% if expansioncard.getMiscSpecs() is not empty %}
					{% include 'macros/specs.html.twig' with {'entity':expansioncard} %}
				{% else %}
					<div>No card specs</div>
				{% endif %}
				<!-- Expansion chips specs -->
				{% if expansioncard.getExpansionChips()|filter(a => a.getMiscSpecs() is not empty) is not empty %}
					<div style="padding: 6px 0px;"><b style="font-size:20px;">Chip specifications </b><small>(click to expand)</small></div>
					{% for chip in expansioncard.getExpansionChips()|filter(a => a.getMiscSpecs() is not empty)%}
						<div class="dropdown-trw">
							<label class="dropdown-header">
								<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">
								<span><i>{{chip.getFullName()}}</i></span>
								<input class="dropdown" type="checkbox" />
							</label>
							<div class="dropdown-contents">
								{% include 'macros/specs.html.twig' with {'entity':chip} %}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<!-- BIOSes -->
			<div class="show-downloads" id="sh-bios">
				{% set chipBios =  expansioncard.getExpansionChips()|filter(a => attribute(a, 'getExpansionChipBios') is defined and a.getExpansionChipBios() is not empty) %}
				{% set cardBios =  expansioncard.getExpansionCardBios() %}
				<div class="show-downloads-group">
				{% if cardBios is not empty %}
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="bios" width="32" height="32">
						<span>{{ cardBios|length }} card BIOS file{% if cardBios|length != 1 %}s{% endif %} available</span>
					</div>
					{% include 'macros/bios.html.twig' with {'entity': cardBios, 'entity_label':'chip', 'audit_entity':'App-Entity-ExpansionChipBios'} %}
				{% else %}
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="biosc" width="32" height="32">
						<span>No {% if chipBios is not empty %}card{% endif %} BIOS files available</span>
					</div>
				{% endif %}
				</div>

				{% if chipBios is not empty %}
				<div class="show-downloads-group last">
					<div style="height:15px;"></div>
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="chipbios" width="32" height="32">
						<span>{{ chipBios|length }} chip{% if chipBios|length != 1 %}s{% endif %} with BIOS files available </span><div><i>Warning: might not be fully compatible with this card, use at your own risk</i></div>
					</div>
					{% for chip in chipBios %}
						<div class="dropdown-trw">
							<label class="dropdown-header">
								<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">
								<span><i>{{chip.getFullName()}}</i></span>
								<input class="dropdown" type="checkbox" />
							</label>
							<div class="dropdown-contents">
								{% include 'macros/bios.html.twig' with {'entity': chip.getExpansionChipBios(), 'entity_label':'chip', 'audit_entity':'App-Entity-ExpansionChipBios'} %}
							</div>
						</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			<!-- DRIVERS -->
			<div class="show-downloads" id="sh-driver">
				{% include 'macros/drivers.html.twig' with {'entity': expansioncard.getAllDrivers(), 'css': 'last'} %}
			</div>
			<!-- Documentation -->
			<div class="show-downloads" id="sh-docs">
				{% include 'macros/manuals.html.twig' with {'entity': expansioncard.getDocumentations(), 'chips': expansioncard.getChipDocs(), 'entity_label':'card', 'audit_entity':'App-Entity-ExpansionCardDocumentation'} %}
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if expansioncard.getImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in expansioncard.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.getType <=> b.getType) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'motherboard', 'entity': image, 'index': lpindex, 'length': expansioncard.getImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ExpansionCardCrudController').setAction('edit').setEntityId(expansioncard.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/card-missing.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/card-missing.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
