{% extends 'base.html.twig' %}
{% if letter %}{% set ltr = letter %}{% else %}{% set ltr = "?" %}{% endif %}
{% block title %}Index: {{ltr}} - TRW{% endblock %}
{% block metatags %}
	<meta name="description" content="Search for a chipset by name, manufacturer, part number and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chipsetindex', {letter: ltr })) }}"/>
{% endblock %}

{% block body %}
	<div class="title">Index: {{ltr}}</div>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ cpu_count > 0 ? cpu_count : 'No' }}{{ cpu_count == 1 ? ' result' : ' results' }}</i>
	</p>
	{% if cpus is not empty %}
		<div class="results lst">
			{{ knp_pagination_render(cpus, 'macros/pagination.html.twig') }}
			<div id="cpu-results-table" class="plain-list w300p table">
				{% include 'macros/widget.html.twig' with {'type':'cpu-results', 'entity': cpus} %}
			</div>
			{{ knp_pagination_render(cpus, 'macros/pagination.html.twig') }}
		</div>
	{% endif %}
{% endblock %}
