{% extends 'base.html.twig' %}

{% block title %}Search CPUs - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a CPU by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('cpusearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('cpusearch') }}">
			<img src="{{ absolute_url(asset('build/icons/486dx.svg')) }}" width="24" height="24" alt="cpu">
            <code class="text-pink-500">CPUs</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_processor', 'action':path("cpusearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('cpulivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="cpu" width="32" height="32">
			Search for CPUs
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_cpuManufacturer">
					<span>Manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.cpuManufacturer) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'cpus', 'dataresetids': 'search_cpuManufacturer search_cpuSpeed search_fsbSpeed', 'search_with_images' : true} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_cpuSpeed">
							<span>CPU frequency</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.cpuSpeed) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_fsbSpeed">
							<span>Bus speed</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.fsbSpeed) }}</div>
						</div>
					</div>
				</section>
				<section class="search-form-grid bordertop">
					<div class="search-form-entry">
						<label class="search-form-label flex" title="">
							<span>Sockets</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'sockets'} %}
						</label>
						<div class="search-form-widget filter-list" id="sockets-fields-list" data-widget-counter="{{ form.sockets|length }}" data-prototype="
							{{ form_widget(form.sockets.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for socket in form.sockets %}
								<div class="editor-row">
									{{ form_widget(socket, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(socket) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label flex" title="">
							<span>Families</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'platforms'} %}
						</label>
						<div class="search-form-widget filter-list" id="platforms-fields-list" data-widget-counter="{{ form.platforms|length }}" data-prototype="
							{{ form_widget(form.platforms.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for platform in form.platforms %}
								<div class="editor-row">
									{{ form_widget(platform, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(platform) }}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<div class="search-buttons">
					<a class='button-widget' href="{{path("cpuhelp")}}" style="margin-right: 5px">
						<img src='{{ absolute_url(asset('build/icons/search.svg')) }}' alt='' width='24' height='24' style='vertical-align:middle;padding:3px;'>How do I use the search page?</a>
					<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
						<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
						<span>Reset</span>
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestCpus is defined %}
		{% include 'macros/lastedited.html.twig' with {'entity': latestCpus, 'type':'cpu', 'entity_label':'CPUs', 'path': 'processor_show'} %}
	{% endif %}
	{% if cpus is defined %}
		{% include 'cpu/result.html.twig' with {'cpus': cpus, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
