{% extends 'base.html.twig' %}

{% block title %}
	{{ cpu.getFullName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="CPU:{{ cpu.getFullName() }}">
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ cpu.getFullName() }}">
	<meta property="og:description" content="Get CPU info and images for {{ cpu.getFullName() }}!">
	{% if cpu.getImages() is not empty %}
		{% for image in cpu.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('processor_show', {id: cpu.getId()})) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('cpusearch') }}">
			<img src="{{ absolute_url(asset('build/icons/486dx.svg')) }}" width="24" height="24" alt="cpu">
            <code class="text-pink-500">CPUs</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{cpu.getId()}}</code>
    </div>
</li>
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	{% if cpu.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: cpu.getManufacturer().getId()}) }}">{{ cpu.getManufacturer().getName() }}</a>&nbsp;{{ cpu.getNameWithoutManuf() }}
	{% else %}
		{{ cpu.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': cpu, 'entityName': 'Processor', 'types': [], 'name': 'CPU', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<div class="quick-spec-split">
				<div class="quick-spec-table">
					<!-- Socket -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="cpu" width="24" height="24">Package
					</div>
					{% if cpu.getSockets() is not empty %}
						<div class="tag-container">
							{% for socket in cpu.getSockets() %}<a href="{{ path('cpusocket_show', {id: socket.getId()}) }}"><span class="text-block">{{ socket.getNameAndType}}</span></a>{% endfor %}
						</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Family (platform) -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="486" width="24" height="24">Family
					</div>
					<div>
					{% if cpu.getSockets() is not empty %}
						<a href="{{ path('cpufamily_show', {id: cpu.getPlatform().getId()}) }}">{{ cpu.getPlatform().getName() }}</a>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
					</div>
					<!-- Core -->
					{% if cpu.getCore() is not empty %}
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="486" width="24" height="24">Core
					</div>
					<div>{{ cpu.getCore() }}</div>
					{% endif %}
					<!-- Speed -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="speed" width="24" height="24">Frequency
					</div>
					<div>{{ cpu.getSpeed() ? cpu.getSpeed().getValueWithUnit() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					{% if cpu.getPlatform() is empty or cpu.getPlatform().getDramType() is empty %}
					<!-- FSB -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="speed" width="24" height="24">Bus speed
					</div>
					<div>{{ cpu.getFsb() ? cpu.getFsb().getValueWithUnit() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					{% endif %}
					<!-- Cores -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cpu.svg')) }}" alt="cores" width="24" height="24">Core count
					</div>
					<div>{{ cpu.getCores() ? cpu.getCores() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					<!-- Threads -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cpu.svg')) }}" alt="threads" width="24" height="24">Thread count
					</div>
					<div>{{ cpu.getThreads() ? cpu.getThreads() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					{% if cpu.getPlatform() is not empty and cpu.getPlatform().getDramType() is not empty %}
					<!-- IMC -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="threads" width="24" height="24">IMC
					</div>
					<div>
						<div class="tag-container">
							{% for dram in cpu.getPlatform().getDramType() %}<span class="text-block">{{ dram.getName()}}</span>{% endfor %}
						</div>
					</div>
					{% endif %}
					<!-- Actions -->
					{% if cpu.getSockets() is not empty %}
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?cpuSocket1={{ cpu.getSockets()[0].getId() }}&amp;platform1={{ cpu.getPlatform().getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/hardware.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all compatible boards</a>
						</div>
					</div>
					{% endif %}
				</div><div class="quick-spec-table">
					<!-- L1 cache -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">L1 cache
					</div>
					<div>
					{% if cpu.getPlatform() is not empty %}
						{% if cpu.getPlatform().getL1code() is not empty %}
							{{ cpu.getCores() > 1 ? (cpu.getPlatform().getL1codeRatio() * cpu.getCores()) ~ " x "}}{{cpu.getPlatform().getL1code()}}
						{% else %}
							unknown
						{% endif %}code ,
						{% if cpu.getPlatform().getL1data() is not empty %}
							{{ cpu.getCores() > 1 ? (cpu.getPlatform().getL1dataRatio() * cpu.getCores()) ~ " x "}}{{cpu.getPlatform().getL1data()}}
						{% else %}
							unknown
						{% endif %}data
					{% else %}
						None
					{% endif %}
					</div>
					<!-- L2 cache -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">L2 cache
					</div>
					<div>
					{% if cpu.getL2() is not empty %}
						{% if cpu.isL2shared() == true %}
							{{ cpu.getL2().getValueWithUnit() ~ ' shared'}}
						{% else %}
							{% if cpu.getCores() is not empty %}
								{{ cpu.getCores() ~ ' x ' ~ cpu.getL2().getValueWithUnit()}}
							{% else %}
								{{ cpu.getL2().getValueWithUnit() }}
							{% endif %}
						{% endif %}
					{% else %}
						None
					{% endif %}
					</div>
					<!-- L3 cache -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">L3 cache
					</div>
					<div>
					{% if cpu.getL3() is not empty %}
						{% if cpu.isL3shared() == true %}
							{{ cpu.getL3().getValueWithUnit() ~ ' shared'}}
						{% else %}
							{% if cpu.getCores() is not empty %}
								{{ cpu.getCores() ~ ' x ' ~ cpu.getL3().getValueWithUnit()}}
							{% else %}
								{{ cpu.getL3().getValueWithUnit() }}
							{% endif %}
						{% endif %}
					{% else %}
						None
					{% endif %}
					</div>
					<!-- Process node -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="dimension" width="24" height="24">Process node
					</div>
					<div>
					{% if cpu.getProcessNodeWithValue() is not empty %}
						{% if cpu.getPlatform() is not empty %}
							{{ cpu.getPlatform().getProcessNodeWithValue() ?: "<span class='badge badge-secondary'>Empty</span>" }}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
					</div>
					<!-- TDP -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="power" width="24" height="24">TDP
					</div>
					<div>{{ cpu.getTdpWithValue() ? cpu.getTdpWithValue() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					<!-- Voltage -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="power" width="24" height="24">Voltage
					</div>
					{% if cpu.getVoltages() is not empty %}
					<div class="tag-container">
						{% for voltage in cpu.getVoltages() %}<span class="text-block">{{ voltage.getValueWithUnit()}}</span>{% endfor %}
					</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Instruction set -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="cpu" width="24" height="24">Features
					</div>
					{% if cpu.getPlatform() is not empty %}
						{% if cpu.getPlatform().getInstructionSetsFull() is not empty %}
							<div class="tag-container">
							<ul>
								{% for instruction in cpu.getPlatform().getInstructionSetsFull()|sort((a, b) => a.name|lower <=> b.name|lower) %}
									<li>{{ instruction.getName()}}</li>
								{% endfor %}
							</ul>
							</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- CPUID -->

					{% if cpu.getPlatform() is not empty %}
						{% if cpu.getPlatform().getCpuid() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="tag" width="24" height="24">CPUID
						</div>
						<div class="tag-container">
								{% for id in cpu.getPlatform().getCpuid()|sort((a, b) => a.name <=> b.name) %}
									<span class="text-block">{{ id.getValue()}}</span>
								{% endfor %}
						</div>
						{% endif %}
					{% endif %}
					<!-- TDP -->
				</div>
			</div>
			{% include 'macros/aliases.html.twig' with {'entity':cpu.getChipAliases(), 'msg': 'Other part numbers/S-Specs:'} %}
			<!-- MANUALS -->
			{% include 'macros/manuals.html.twig' with {'entity': cpu.getAllDocs(), 'entity_label':'', 'audit_entity':'App-Entity-EntityDocumentation'} %}
		</div>
	</div>
	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if cpu.getImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in cpu.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'expansionchip', 'entity': image, 'index': lpindex, 'length': cpu.getImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ProcessorCrudController').setAction('edit').setEntityId(cpu.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/cpu-missing.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/cpu-missing.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
