{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Motherboards with images from: {{name}}{% endblock %}
{% block page_content %}
    <div class="show-nav-ea">
        <input type="radio" name="tabs" checked>
        <label><img src="{{ absolute_url(asset('build/icons/board.svg')) }}" alt="" width="24" height="24">Motherboards</label>
        <label onclick="window.location.href = '{{ urlCards }}';"><img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="" width="24" height="24">Expansion cards</label>
        <label onclick="window.location.href = '{{ urlChips }}';"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips</label>
        <label onclick="window.location.href = '{{ urlCpus }}';"><img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="" width="24" height="24">CPUs</label>
        <label onclick="window.location.href = '{{ urlHdds }}';"><img src="{{ absolute_url(asset('build/icons/hdd.svg')) }}" alt="" width="24" height="24">Hard drives</label>
        <label onclick="window.location.href = '{{ urlCdds }}';"><img src="{{ absolute_url(asset('build/icons/cd_drive.svg')) }}" alt="" width="24" height="24">Optical drives</label>
        <label onclick="window.location.href = '{{ urlFdds }}';"><img src="{{ absolute_url(asset('build/icons/floppy_drive.svg')) }}" alt="" width="24" height="24">Floppy drives</label>
    </div>
    {% if motherboards is defined and motherboards is not empty %}
        <div class="results">
            {{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
            <div class="perks">
                <div id="index-datetime" class="perks-list">
                {% for motherboard in motherboards %}
                    <div class="perk">
                        <div class="perk-image">
                        {% if motherboard.getImages() is not empty %}
                            {% set imgtype_count = 0 %}
                            {% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
                                <a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                    {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                    {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
                                {% set imgtype_count = imgtype_count + 1 %}
                            {% endfor %}
                            {% if imgtype_count == 0 %}
                                <img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                            {% endif %}
                        {% else %}
                            <img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                        {% endif %}</div>
                        <a href="{{ path("motherboard_show", {id:motherboard.getId()}) }}" title="Click to visit page">
                            <div class="perk-name">{{ motherboard.getManufacturerName() }}&nbsp;{{ motherboard.name }}</div>
                            <div class="perk-alias">
                            {% if motherboard.getMotherboardAliases() is not empty %}{% for alias in motherboard.getMotherboardAliases() %}
                                <span class="results-alias">
                                    <small>{% if alias.getManufacturer() is not null %}{{ alias.getManufacturer().getName() }}{% else %}Unknown{% endif %}&nbsp;{{ alias.name }}{% if not loop.last %} |{% endif %}</small>
                                </span>
                            {% endfor %}{% endif %}</div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
        </div>
    {% else %}
        No images
    {% endif %}
{% endblock %}