{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Chips with images from: {{name}}{% endblock %}
{% block page_content %}
    <div class="show-nav-ea">
        <label onclick="window.location.href = '{{ urlBoards }}';"><img src="{{ absolute_url(asset('build/icons/board.svg')) }}" alt="" width="24" height="24">Motherboards</label>
        <label onclick="window.location.href = '{{ urlCards }}';"><img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="" width="24" height="24">Expansion cards</label>
        <input type="radio" name="tabs" checked>
        <label><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips</label>
        <label onclick="window.location.href = '{{ urlCpus }}';"><img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="" width="24" height="24">CPUs</label>
        <label onclick="window.location.href = '{{ urlHdds }}';"><img src="{{ absolute_url(asset('build/icons/hdd.svg')) }}" alt="" width="24" height="24">Hard drives</label>
        <label onclick="window.location.href = '{{ urlCdds }}';"><img src="{{ absolute_url(asset('build/icons/cd_drive.svg')) }}" alt="" width="24" height="24">Optical drives</label>
        <label onclick="window.location.href = '{{ urlFdds }}';"><img src="{{ absolute_url(asset('build/icons/floppy_drive.svg')) }}" alt="" width="24" height="24">Floppy drives</label>
    </div>
    {% if chips is defined and chips is not empty %}
        <div class="results">
            {{ knp_pagination_render(chips, 'macros/pagination.html.twig') }}
            <div class="perks">
                <div id="index-datetime" class="perks-list">
                {% for chip in chips %}
                    <div class="perk">
                        <div class="perk-image">
                        {% if chip.getImages() is not empty %}
                            {% set imgtype_count = 0 %}
                            {% for image in chip.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
                                <a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="
                                    {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
                                {% set imgtype_count = imgtype_count + 1 %}
                            {% endfor %}
                            {% if imgtype_count == 0 %}
                                <img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                            {% endif %}
                        {% else %}
                            <img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                        {% endif %}</div>
                        <a href="{{ path("expansion_chip_show", {id:chip.getId()}) }}" title="Click to visit page">
                            <div class="perk-name">{{ chip.getFullName() }}</div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {{ knp_pagination_render(chips, 'macros/pagination.html.twig') }}
        </div>
    {% else %}
        No images
    {% endif %}
{% endblock %}