{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Floppy drives with images from: {{name}}{% endblock %}
{% block page_content %}
    <div class="show-nav-ea">
        <label onclick="window.location.href = '{{ urlBoards }}';"><img src="{{ absolute_url(asset('build/icons/board.svg')) }}" alt="" width="24" height="24">Motherboards</label>
        <label onclick="window.location.href = '{{ urlCards }}';"><img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="" width="24" height="24">Expansion cards</label>
        <label onclick="window.location.href = '{{ urlChips }}';"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips</label>
        <label onclick="window.location.href = '{{ urlCpus }}';"><img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="" width="24" height="24">CPUs</label>
        <label onclick="window.location.href = '{{ urlHdds }}';"><img src="{{ absolute_url(asset('build/icons/hdd.svg')) }}" alt="" width="24" height="24">Hard drives</label>
        <label onclick="window.location.href = '{{ urlCdds }}';"><img src="{{ absolute_url(asset('build/icons/cd_drive.svg')) }}" alt="" width="24" height="24">Optical drives</label>
        <input type="radio" name="tabs" checked>
        <label><img src="{{ absolute_url(asset('build/icons/floppy_drive.svg')) }}" alt="" width="24" height="24">Floppy drives</label>
    </div>
    {% if fdds is defined and fdds is not empty %}
        <div class="results">
            {{ knp_pagination_render(fdds, 'macros/pagination.html.twig') }}
                <div class="perks">
                    <div id="index-datetime" class="perks-list">
                    {% for fdd in fdds %}
                        <div class="perk">
                            <div class="perk-image">
                            {% if fdd.getStorageDeviceImages() is not empty %}
                                {% set imgtype_count = 0 %}
                                {% for image in fdd.getStorageDeviceImages()|filter(a => a.type in ["1", "2", "3"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
                                    <a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox"><img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                        {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                        {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="Click to preview image"></a>
                                    {% set imgtype_count = imgtype_count + 1 %}
                                {% endfor %}
                                {% if imgtype_count == 0 %}
                                    <img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                                {% endif %}
                            {% else %}
                                <img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                            {% endif %}</div>
                            <a href="{{ path("floppy_drive_show", {id: fdd.getId()}) }}" title="Click to visit page">
                                <div class="perk-name">{{ fdd.getFullName() }}</div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {{ knp_pagination_render(fdds, 'macros/pagination.html.twig') }}
        </div>
    {% else %}
        No images
    {% endif %}
{% endblock %}