{% extends "@DHAuditor/layout.html.twig" %}

{% import '@DHAuditor/Audit/helpers/helper.html.twig' as helper %}
{% import '@DHAuditor/Audit/helpers/pager.html.twig' as pager %}

{% block dh_auditor_header %}
<div>
    <span class="bg-purple-500 rounded text-sm text-white px-2 py-1 no-wrap audit-mobile-450">{% trans with { '%count%': paginator.results|length } from 'auditor' %}audit.audit_details.operations_count{% endtrans %}</span>
</div>
{% endblock %}
{% block subnav %}
{% set titles = {
	'App\\Entity\\AudioFile' : 'Audio files',
    'App\\Entity\\CacheSize' : 'Cache sizes',
    'App\\Entity\\CdDrive' : 'Optical drives',
    'App\\Entity\\ChipAlias' : 'Chip aliases',
    'App\\Entity\\ChipDocumentation' : 'Chip docs',
    'App\\Entity\\ChipImage' : 'Chip images',
    'App\\Entity\\Chipset' : 'Chipset',
    'App\\Entity\\ChipsetAlias' : 'Chipset aliases',
    'App\\Entity\\ChipsetBiosCode' : 'Chipset BIOS codes',
    'App\\Entity\\ChipsetDocumentation' : 'Chipset docs',
    'App\\Entity\\CpuSocket' : 'CPU sockets',
    'App\\Entity\\CpuSpeed' : 'Speeds',
    'App\\Entity\\Creditor' : 'Creditors',
    'App\\Entity\\DramType' : 'RAM types',
    'App\\Entity\\EntityDocumentation' : 'Entity documentation',
    'App\\Entity\\EntityImage' : 'Entity images',
    'App\\Entity\\ExpansionChip' : 'Expansion chips',
    'App\\Entity\\ExpansionChipBios' : 'Expansion chip BIOSes',
    'App\\Entity\\ExpansionChipType' : 'Expansion chip types',
    'App\\Entity\\ExpansionCard' : 'Expansion cards',
    'App\\Entity\\ExpansionCardAlias' : 'Expansion card aliases',
    'App\\Entity\\ExpansionCardType' : 'Expansion card types',
    'App\\Entity\\ExpansionCardBios' : 'Expansion card BIOSes',
    'App\\Entity\\ExpansionCardIdRedirection' : 'Expansion card URL redirects',
    'App\\Entity\\ExpansionCardImage' : 'Expansion card images',
    'App\\Entity\\ExpansionCardDocumentation' : 'Expansion card docs',
    'App\\Entity\\ExpansionCardIoPort' : 'Expansion card I/O ports',
    'App\\Entity\\ExpansionCardMemoryConnector' : 'Expansion card mem. connectors',
    'App\\Entity\\ExpansionCardPowerConnector' : 'Expansion card power connectors',
    'App\\Entity\\ExpansionSlot' : 'Expansion slots',
    'App\\Entity\\ExpansionSlotInterface' : 'Expansion slot interfaces',
    'App\\Entity\\ExpansionSlotInterfaceSignal' : 'Expansion slot presets',
    'App\\Entity\\ExpansionSlotSignal' : 'Expansion slot signals',
    'App\\Entity\\FloppyDrive' : 'Floppy drives',
    'App\\Entity\\FloppyDriveType' : 'Floppy drive types',
    'App\\Entity\\FormFactor' : 'Form factors',
    'App\\Entity\\HardDrive' : 'Hard drives',
    'App\\Entity\\InstructionSet' : 'Instruction sets',
    'App\\Entity\\IoPort' : 'I/O ports',
    'App\\Entity\\IoPortInterface' : 'I/O port interfaces',
    'App\\Entity\\IoPortInterfaceSignal' : 'I/O port presets',
    'App\\Entity\\IoPortSignal' : 'I/O port signals',
    'App\\Entity\\MemoryConnector' : 'Memory connectors',
    'App\\Entity\\KnownIssue' : 'Known issues',
    'App\\Entity\\LargeFile' : 'Drivers',
    'App\\Entity\\LargeFileChipset' : 'Chipset drivers',
    'App\\Entity\\LargeFileExpansionChip' : 'Expansion chip drivers',
    'App\\Entity\\LargeFileExpansionCard' : 'Expansion card drivers',
    'App\\Entity\\LargeFileMotherboard' : 'Motherboard drivers',
    'App\\Entity\\License' : 'Licenses',
    'App\\Entity\\Manual' : 'Motherboard docs',
    'App\\Entity\\Manufacturer' : 'Manufacturers',
    'App\\Entity\\ManufacturerCode' : 'Manufacturer codes',
    'App\\Entity\\ManufacturerBiosManufacturerCode' : 'BIOS manufacturer codes',
    'App\\Entity\\MaxRam' : 'RAM sizes',
    'App\\Entity\\MiscFile' : 'Misc files',
    'App\\Entity\\Motherboard' : 'Motherboards',
    'App\\Entity\\MotherboardAlias' : 'Motherboard aliases',
    'App\\Entity\\MotherboardBios' : 'Motherboard BIOSes',
    'App\\Entity\\MotherboardExpansionSlot' : 'Motherboard expansion slots',
    'App\\Entity\\MotherboardMemoryConnector' : 'Motherboard memory connectors',
    'App\\Entity\\MotherboardIdRedirection' : 'Motherboard URL redirects',
    'App\\Entity\\MotherboardImage' : 'Motherboard images',
    'App\\Entity\\MotherboardIoPort' : 'Motherboard I/O ports',
    'App\\Entity\\MotherboardMaxRam' : 'Motherboard RAM sizes',
    'App\\Entity\\OsFlag' : 'OS flags',
    'App\\Entity\\OsArchitecture' : 'OS architectures',
    'App\\Entity\\PSUConnector' : 'PSU connectors',
    'App\\Entity\\Processor' : 'CPUs',
    'App\\Entity\\ProcessorPlatformType' : 'CPU families',
    'App\\Entity\\ProcessorVoltage' : 'CPU voltages',
    'App\\Entity\\StorageDeviceAlias' : 'Storage device aliases',
    'App\\Entity\\StorageDeviceDocumentation' : 'Storage device docs',
    'App\\Entity\\StorageDeviceImage' : 'Storage device images',
    'App\\Entity\\StorageDeviceInterface' : 'Storage device interfaces',
    'App\\Entity\\StorageDeviceMiscFile' : 'Storage device misc files',
    'App\\Entity\\StorageDeviceSize' : 'Storage device physical sizes',
    'App\\Entity\\User' : 'Users'
}
%}
        <li class="flex {% if id is null %}items-center justify-between{% endif %} navbar-li">
            <div class="flex items-center">
                <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                </svg>
                <a class="ml-4 text-gray-500 hover:text-gray-700" href="{{ path('dh_auditor_list_audits') }}">
                    <code class="text-pink-500">Logs</code>
                </a>
            </div>
        </li>
        <li class="flex {% if id is null %}flex-grow items-center justify-between{% endif %} navbar-li">
            <div class="flex items-center">
                <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                </svg>
                <a class="ml-4 text-gray-500 hover:text-gray-700" {% if id is null %}aria-current="page"{% endif %} href="{{ path('dh_auditor_show_entity_history', { 'entity': helper.namespaceToParam(entity) }) }}">
                    <code class="text-pink-500">{{ titles[entity] }}</code>
                </a>
            </div>
        </li>
        {% if id is null %}
            <div>
                <span class="bg-purple-500 rounded text-sm text-white px-2 py-1 no-wrap audit-mobile-450-hide">{% trans with { '%count%': paginator.results|length } from 'auditor' %}audit.audit_details.operations_count{% endtrans %}</span>
            </div>
        {% else %}
        <li class="flex flex-grow items-center justify-between">
            <div class="flex items-center">
                <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                </svg>
                <a class="ml-4 text-gray-500 hover:text-gray-700" aria-current="page" href="{{ path('dh_auditor_show_entity_history', { 'entity': helper.namespaceToParam(entity), 'id': id }) }}">
                    <code class="text-pink-500">ID: {{ id }}</code>
                </a>
            </div>
        </li>
        <li class="flex" style="margin-left: auto;">
            <span class="bg-purple-500 rounded text-sm text-white px-2 py-1 no-wrap audit-mobile-450-hide">{% trans with { '%count%': paginator.results|length } from 'auditor' %}audit.audit_details.operations_count{% endtrans %}</span>
        </li>
        {% endif %}
{% endblock %}
{% block dh_auditor_content %}
<div class="flow-root">
    <ul role="list" class="-mb-8">
        {% set i = 0 %}
        {% set amount = paginator.results|length %}
        {% for entry in paginator.results %}
            {% set i = i + 1 %}
        <li>
            {{ include('@DHAuditor/Audit/entry.html.twig', {'entry': entry, 'is_last': i >= amount}) }}
        </li>
        {% endfor %}
        {% if i == 0 %}Nothing to see here.{% endif %}
    </ul>
</div>

{{ pager.render(helper.namespaceToParam(entity), id, paginator) }}
{% endblock dh_auditor_content %}