{% macro driver(entity) %}
    <div class="plain-list w300p table">
        <div class="list-entry centered head">
            <div>Name</div>
            <div>Version</div>
            <div>OS support</div>
            <div>Size</div>
            <div>Filename</div>
        </div>
        {% for driver in entity %}
        <div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
            <div class="header-label">Name</div>
            <div><a href="{{ path("driver_show", {id: driver.largeFile.getId()}) }}">{{driver.largeFile.getName()}}</a></div>
            <div class="header-label">Version</div>
            <div>{{ driver.largeFile.getFileVersion() ? driver.largeFile.getFileVersion() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
            <div class="header-label">OS support</div>
            <div>
                <div class="tag-container">
                {% for os in driver.largeFile.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getSort <=> b.getSort) %}
                <span class="text-block">
                    <img src="{{ vich_uploader_asset(os, 'icon')}}" width="16">
                    <span>{{os.getName()}}</span>
                </span>
                {% endfor %}
                {% if driver.largeFile.getOsFlags() is empty %}<span class='badge badge-secondary'>Empty</span>{% endif %}
                </div>
            </div>
            <div class="header-label">Size</div>
            <div>{{driver.largeFile.getSize() ? driver.largeFile.getSizeFormatted() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
            <div class="header-label">Filename</div>
            <div>
                <a class="combo" href="{{ vich_uploader_asset(driver.largeFile, 'file')}}">
                    <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16">
                    <span>{{ driver.largeFile.getFileNameSimple() }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endmacro %}
<div class="show-downloads-group {{css}}">
    {% if entity is not empty %}
        {% set total = entity|length %}
        {% set recommended = entity|filter(a => a.isRecommended == true)|length %}
        {% set otherDrivers = entity|filter(a => a.isRecommended == false)|length %}
        {% if (recommended == 0 and otherDrivers == total) or (otherDrivers == 0 and recommended == total) %}
            <!-- contains only one type, show as is -->
            <div class="show-downloads-group-header">
                <img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="drv" width="32" height="32">
                <span>{{ total }} driver{% if total != 1 %}s{% endif %} available</span>
            </div>
            {{ _self.driver(entity)}}
        {% else %}
            <!-- contains both recommended and not recommended -->
            <div class="show-downloads-group-header">
                <img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="drv" width="32" height="32">
                <span>{{ recommended }} known good driver{% if recommended != 1 %}s{% endif %} available</span>
            </div>
            {{ _self.driver(entity|filter(a => a.isRecommended == true))}}
            <div class="dropdown-trw">
                <label class="dropdown-header">
                    <img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="chip" width="24" height="24">
                    <span><i>{{ otherDrivers }} other driver{% if otherDrivers != 1 %}s{% endif %} available (click to expand)</i></span>
                    <input class="dropdown" type="checkbox" />
                </label>
                <div class="dropdown-contents">
                    {{ _self.driver(entity|filter(a => a.isRecommended == false))}}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="show-downloads-group-header">
            <img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="drv" width="32" height="32">
            <span>No drivers available</span>
        </div>
    {% endif %}
</div>