<div class="perks">
	<p><b>Last edited {{ entity_label }}</b></p>
	<div id="index-datetime" class="perks-list">
	{% for item in entity %}
		<div class="perk">
			<a href="{{ path(path, {id:item.getId()}) }}">
				<div class="perk-image">
                {# motherboards #}
                {% if type == 'motherboard' %}
                    {% if item.getImages() is not empty %}
                        {% set imgtype_count = 0 %}
                        {% if "now"|date("m") == 4 and "now"|date("d") == 1 %}
                            <img src="{{ absolute_url(asset('build/images/m666.jpg')) }}" loading="lazy" width="250" height="200" title="looks like someone deleted all the images, only this one survived">
                        {% else %}
                            {% for image in item.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
                                <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                    {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                    {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                                    {% set imgtype_count = imgtype_count + 1 %}
                            {% endfor %}
                            {% if imgtype_count == 0 %}
                                <img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" alt="missing image" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# exp cards #}
                {% if type == 'card' %}
                    {% if item.getImages() is not empty %}
                        {% set imgtype_count = 0 %}
                        {% if "now"|date("m") == 4 and "now"|date("d") == 1 %}
                            <img src="{{ absolute_url(asset('build/images/m666.jpg')) }}" loading="lazy" width="250" height="200" title="looks like someone deleted all the images, only this one survived">
                        {% else %}
                            {% for image in item.getImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.type <=> a.type)|slice(0, 1) %}
                                <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                    {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                    {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                                    {% set imgtype_count = imgtype_count + 1 %}
                            {% endfor %}
                            {% if imgtype_count == 0 %}
                                <img src="{{ absolute_url(asset('build/images/missing/card-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/card-missing.jpg')) }}" alt="missing image" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# chips #}
                {% if type == 'chip' %}
                    {% if item.getImages() is not empty %}
                        {% set imgcount = 0 %}
                        {% for image in item.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
                            {% set imgcount = imgcount + 1 %}
                            <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                            {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                            {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                        {% endfor %}
                        {% if imgcount == 0 %}<img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">{% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# cpus #}
                {% if type == 'cpu' %}
                    {% if item.getImages() is not empty %}
                        {% set imgcount = 0 %}
                        {% for image in item.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
                            {% set imgcount = imgcount + 1 %}
                            <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                            {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                            {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                        {% endfor %}
                        {% if imgcount == 0 %}<img src="{{ absolute_url(asset('build/images/missing/cpu-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">{% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/cpu-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# chipsets #}
                {% if type == 'chipset' %}
                    {% if item.getExpansionChips() is not empty %}
                        {% set imgcount = 0 %}
                        {% for chipPart in item.getExpansionChips()|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
                        {% if chipPart.getImages() is not empty %}
                            {% set imgcount = imgcount + 1 %}
                            {% for image in chipPart.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
                                <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                            {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                            {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if imgcount == 0 %}<img src="{{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">{% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# hdds #}
                {% if type == 'hdd' %}
                    {% if item.getStorageDeviceImages() is not empty %}
                        {% set imgtype_count = 0 %}
                        {% for image in item.getStorageDeviceImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.type <=> a.type)|slice(0, 1) %}
                            <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                                {% set imgtype_count = imgtype_count + 1 %}
                        {% endfor %}
                        {% if imgtype_count == 0 %}
                            <img src="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                        {% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}" alt="missing image" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# cdds #}
                {% if type == 'cdd' %}
                    {% if item.getStorageDeviceImages() is not empty %}
                        {% set imgtype_count = 0 %}
                        {% for image in item.getStorageDeviceImages()|filter(a => a.type in ["1", "2", "3"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
                            <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                                {% set imgtype_count = imgtype_count + 1 %}
                        {% endfor %}
                        {% if imgtype_count == 0 %}
                            <img src="{{ absolute_url(asset('build/images/missing/cdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                        {% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/cdd-missing.jpg')) }}" alt="missing image" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                {# fdds #}
                {% if type == 'fdd' %}
                    {% if item.getStorageDeviceImages() is not empty %}
                        {% set imgtype_count = 0 %}
                        {% for image in item.getStorageDeviceImages()|filter(a => a.type in ["1", "2", "3"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
                            <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                                {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                                {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                                {% set imgtype_count = imgtype_count + 1 %}
                        {% endfor %}
                        {% if imgtype_count == 0 %}
                            <img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                        {% endif %}
                    {% else %}
                        <img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" alt="missing image" loading="lazy" width="250" height="200" title="no images available :(">
                    {% endif %}
                {% endif %}
                </div>
				<div class="perk-name">{{ item.getFullName() }}</div>
				<div class="perk-date">{{ item.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</div>
			</a>
		</div>
	{% endfor %}
	</div>
</div>