{% macro manual(entity, audit_entity, chips) %}
    {% if entity is not empty %}
	<div class="plain-list w300p table">
        <div class="list-entry centered head">
            {% if chips == true %}<div>Chip</div>{% endif %}
            <div>Release date</div>
            <div>File</div>
            <div>Logs</div>
        </div>
        {% for manual in entity|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
        <div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
            {% if chips == true %}
                <div class="header-label">Chip</div>
                <div>
                    <a href="{{ path('expansion_chip_show', {'id': manual.getChip().getId()}) }}">{{ manual.getChip().getFullName()}}</a>
                </div>
            {% endif %}
            <div class="header-label">Release date</div>
            <div class="perk-date-simple">{{ manual.getReleaseDateString()}}</div>
            <div class="header-label">File</div>
            <div>
                <a class="combo" href="{{ vich_uploader_asset(manual, 'manualFile') }}">
                    <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
                    <span>{{ manual.getLinkName() }}</span>
                </a>
            </div>
            <div class="header-label">Logs</div>
            <div>
                <a href="{{ path('dh_auditor_show_entity_history', { 'entity': audit_entity, 'id': manual.getId() }) }}">
                    <img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="pwr" width="16" height="16">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}
<div class="show-downloads-group">
    {% if entity is not empty %}
        <div class="show-downloads-group-header">
            <img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="doc" width="32" height="32">
            <span>{{ entity|length }} {{ entity_label }} document{% if entity|length != 1 %}s{% endif %} available</span>
        </div>
        {{ _self.manual(entity, audit_entity, false)}}
    {% else %}
        <div class="show-downloads-group-header">
            <img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="doc" width="32" height="32">
            <span>No {% if chips is defined and chips is not empty %}{{ entity_label }}{% endif %} documents available</span>
        </div>
    {% endif %}

    {% if chips is defined and chips is not empty %}

        <div style="height:15px;"></div>
        <div class="dropdown-trw">
            <label class="dropdown-header">
                <img src="{{ absolute_url(asset('build/icons/chip_manual.svg')) }}" alt="chipdoc" width="24" height="24">
                <span>{{ chips|length }} chip document{% if chips|length != 1 %}s{% endif %} available</span>
                <input class="dropdown" type="checkbox" />
            </label>
            <div class="dropdown-contents">
                {{ _self.manual(chips, audit_entity, true)}}
            </div>
        </div>
    {% endif %}
</div>