{% apply spaceless %}
<div class="show-nav" id="sh-nav">
    {% if types is not empty %}
        <input type="radio" name="tabs" id="tab-nav-1" data-tab="sh-general" checked>
        <label for="tab-nav-1"><img src="{{ absolute_url(asset('build/icons/data.svg')) }}" alt="" width="24" height="24">Description</label>
    {% endif %}
    {% if "chips" in types %}
        <input type="radio" name="tabs" id="tab-nav-2" data-tab="sh-expchips">
        <label for="tab-nav-2"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips</label>
    {% endif %}
    {% if "chipspecs" in types %}
        <input type="radio" name="tabs" id="tab-nav-2" data-tab="sh-expchips">
        <label for="tab-nav-2"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips/specs</label>
    {% endif %}
    {% if "specs" in types %}
        <input type="radio" name="tabs" id="tab-nav-2" data-tab="sh-specs">
        <label for="tab-nav-2"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="" width="24" height="24">Specs</label>
    {% endif %}
    {% if "bios" in types %}
        <input type="radio" name="tabs" id="tab-nav-3" data-tab="sh-bios">
        <label for="tab-nav-3"><img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="" width="24" height="24">BIOS</label>
    {% endif %}
    {% if "associations" in types %}
        <input type="radio" name="tabs" id="tab-nav-3" data-tab="sh-expchips">
        <label for="tab-nav-3"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Associations</label>
    {% endif %}
    {% if "drivers" in types %}
        <input type="radio" name="tabs" id="tab-nav-4" data-tab="sh-driver">
        <label for="tab-nav-4"><img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="" width="24" height="24">Drivers</label>
    {% endif %}
    {% if "docs" in types %}
        <input type="radio" name="tabs" id="tab-nav-5" data-tab="sh-docs">
        <label for="tab-nav-5"><img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="" width="24" height="24">Documentation</label>
    {% endif %}
    <input type="radio" name="tabsh" id="tab-nav-h" data-URL="{{ path('dh_auditor_show_entity_history', {id:entity.getId(), entity:'App-Entity-' ~ entityName}) }}">
    <label for="tab-nav-h"><img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="" width="24" height="24">Logs</label>
    {% if is_granted(role) %}
        <input type="radio" name="tabs0" id="tab-nav-0" data-URL="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController')
            .setController('App\\Controller\\Admin\\' ~ entityName ~ 'CrudController')
            .setAction('edit').setEntityId(entity.getId())}}">
        <label for="tab-nav-0"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24">Edit {{name}}</label>
    {% endif %}
</div>
{% endapply %}