{% if type == "driver-results" %}
    <div class="list-entry centered head">
        <div>Name</div>
        <div>Version</div>
		<div>Release date</div>
        <div>Size</div>
        <div>File name</div>
    </div>
    {% for driver in entity %}
        <div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
            <div class="header-label">Name</div>
            <div><a class="result-link" href="{{ path("driver_show", {id: driver.getId()}) }}">{{ driver.getName() }}</a></div>
            <div class="header-label">Version</div>
            <div>{{ driver.getFileVersion() ? driver.getFileVersion() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
			<div class="header-label">Release date</div>
			<div>{{ driver.getReleaseDate() ? driver.getReleaseDateString() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
            <div class="header-label">Size</div>
            <div>{{driver.getSize() ? driver.getSizeFormatted() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
            <div class="header-label">File name</div>
            <div><a class="combo" href="{{ vich_uploader_asset(driver, 'file')}}">
				<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" style="vertical-align: middle;">{{ driver.getFileNameSimple() }}</a>
			</div>
        </div>
    {% endfor %}
{% endif %}
{% if type == "chipset-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Parts</div>
		<div>Aliases</div>
        <div>Release date</div>
	</div>
	{% for chipset in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}{% if chipset.getExpansionChips() is empty %} nows{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("chipset_show", {id: chipset.getId()}) }}">{{ chipset.getFullName() }}</a></div>
		<div class="header-label">Parts</div>
		<div>{% for chipPart in chipset.getExpansionChips() %}
			<span class="text-block" style="margin-right: 5px;">{{ chipPart.getFullName() }}</span>
		{% endfor %}</div>
		<div class="header-label">Aliases</div>
		<div>{% if chipset.getChipsetAliases() is not empty %}
			{% for alias in chipset.getChipsetAliases() %}
				<span>{{ alias.getFullAliasName() }}{% if not loop.last %} |{% endif %}</span>
			{% endfor %}
		{% else %}<span class='badge badge-secondary'>Empty</span>{% endif %}</div>
        <div class="header-label">Release date</div>
		<div>{{ chipset.getReleaseDate() ? chipset.getReleaseDateString() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "expansionchip-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Type</div>
		<div>Aliases</div>
        <div>Device ID</div>
	</div>
	{% for chip in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("expansion_chip_show", {id: chip.getId()}) }}">{{ chip.getFullName() }}</a></div>
		<div class="header-label">Type</div>
		<div>{{ chip.getType() }}</div>
		<div class="header-label">Aliases</div>
		<div class="tag-container">{% if chip.getChipAliases() is not empty %}
			{% for alias in chip.getChipAliases() %}
				<span class="text-block">{{ alias.getFullAliasName() }}</span>
			{% endfor %}
		{% endif %}</div>
        <div class="header-label">Device ID</div>
		<div>{% if chip.getPciDevs() is not empty %}
			{% set len = chip.getPciDevs()|length %}
			{% for dev in chip.getPciDevs()|slice(0,6) %}
				{{ dev.getDev() }}{% if not loop.last %}, {% else %}{% if len > 6 %}, ...{% endif %}{% endif %}
			{% endfor %}
		{% endif %}</div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "expansioncard-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Type</div>
		<div>Aliases</div>
	</div>
	{% for card in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("expansioncard_show", {id: card.getId()}) }}">{{ card.getFullName() }}</a></div>
		<div class="header-label">Type</div>
		<div><div class="tag-container">{% for type in card.getType() %}<span class="text-block">{{ type.getName() }}</span>{% endfor %}</div></div>
		<div class="header-label">Aliases</div>
		<div><div class="tag-container">{% if card.getExpansionCardAliases() is not empty %}
			{% for alias in card.getExpansionCardAliases() %}
				<span class="text-block">{{ alias.getFullAliasName() }}</span>
			{% endfor %}
		{% endif %}</div></div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "hdd-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Aliases</div>
        <div>Capacity</div>
	</div>
	{% for hdd in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("hard_drive_show", {id: hdd.getId()}) }}">{{ hdd.getFullName() }}</a></div>
		<div class="header-label">Aliases</div>
		<div>{% if hdd.getStorageDeviceAliases() is not empty %}
			{% for alias in hdd.getStorageDeviceAliases() %}
				<span>{{ alias.getFullAliasName() }}{% if not loop.last %} |{% endif %}</span>
			{% endfor %}
		{% endif %}</div>
        <div class="header-label">Capacity</div>
		<div>{{ hdd.getCapacityFormatted() }}</div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "cdd-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Aliases</div>
        <div>Tray type</div>
	</div>
	{% for cdd in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("cd_drive_show", {id: cdd.getId()}) }}">{{ cdd.getFullName() }}</a></div>
		<div class="header-label">Aliases</div>
		<div>{% if cdd.getStorageDeviceAliases() is not empty %}
			{% for alias in cdd.getStorageDeviceAliases() %}
				<span>{{ alias.getFullAliasName() }}{% if not loop.last %} |{% endif %}</span>
			{% endfor %}
		{% endif %}</div>
        <div class="header-label">Tray type</div>
		<div>{{ cdd.getTrayType() }}</div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "fdd-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Aliases</div>
        <div>Type</div>
	</div>
	{% for fdd in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("floppy_drive_show", {id: fdd.getId()}) }}">{{ fdd.getFullName() }}</a></div>
		<div class="header-label">Aliases</div>
		<div>{% if fdd.getStorageDeviceAliases() is not empty %}
			{% for alias in fdd.getStorageDeviceAliases() %}
				<span>{{ alias.getFullAliasName() }}{% if not loop.last %} |{% endif %}</span>
			{% endfor %}
		{% endif %}</div>
        <div class="header-label">Type</div>
		<div>
		{% if fdd.getType() is not empty %}
			<div class="tag-container">{% for type in fdd.getType() %}
				<span class="text-block">{{ type.getName() }}</span>{% endfor %}
			</div>
		{% endif %}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "cpu-results" %}
    <div class="list-entry centered head">
		<div>Name</div>
		<div>Family</div>
        <div>Speed/FSB</div>
        <div>Package</div>
		<div>Voltage</div>
        <div>TDP</div>
        <div>Process node</div>
	</div>
	{% for cpu in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div>
			<a class="result-link" href="{{ path("processor_show", {id: cpu.getId()}) }}">{{ cpu.getFullName() }}</a>
			{% if cpu.getChipAliases() is not empty %}
				<button class='alias-collapsible' onclick="this.classList.toggle('active');displayalias({{loop.index}})">View aliases</button>
				<div class="cpu-aliases-box" id="cpu-alias-box-{{loop.index}}">
				{% for alias in cpu.getChipAliases() %}
					<div style="padding:4px 4px;">{{ alias.getFullAliasName() }}</div>
				{% endfor %}
				</div>
			{% endif %}
		</div>
		<div class="header-label">Family</div>
		<div>{{ cpu.getPlatform() ? cpu.getPlatform().getName() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
        <div class="header-label">Speed/FSB</div>
        {% if cpu.getSpeed != cpu.getFsb() %}
            <div>{{ cpu.getSpeed().getValueWithUnit() }}/{{ cpu.getFsb().getValueWithUnit() }}</div>
        {% else %}
            <div>{{ cpu.getSpeed().getValueWithUnit() }}</div>
        {% endif %}
        <div class="header-label">Package</div>
        {% if cpu.getSockets() is not empty %}
			<div><div class="tag-container">
				{% for socket in cpu.getSockets() %}<span class="text-block">{{ socket.getNameAndType}}</span>{% endfor %}
			</div></div>
		{% else %}
			<div><span class='badge badge-secondary'>Empty</span></div>
		{% endif %}
		<div class="header-label">Voltage</div>
		{% if cpu.getVoltages() is not empty %}
			<div><div class="tag-container">
				{% for voltage in cpu.getVoltages() %}<span class="text-block">{{ voltage.getValueWithUnit()}}</span>{% endfor %}
			</div></div>
		{% else %}
			<div><span class='badge badge-secondary'>Empty</span></div>
		{% endif %}
        <div class="header-label">TDP</div>
		<div>{{ cpu.getTdpWithValue() ? cpu.getTdpWithValue() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
        <div class="header-label">Process node</div>
		<div>{{ cpu.getProcessNodeWithValue() ? cpu.getProcessNodeWithValue() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
	</div>
	{% endfor %}
{% endif %}