{% extends '@!EasyAdmin/layout.html.twig' %}
{% block head_javascript %}
    <script src="/build/js/easyadmin.js"></script>
{% endblock head_javascript %}
{% block header %}
    <nav class="navbar" role="navigation">
        {% block header_navbar %}
            <div id="header-logo">
                {% block header_logo %}
                    <a style="display:flex;align-items:center;" class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path('app_homepage') }}">
                        <img src="{{ absolute_url(asset('build/images/icon.png')) }}" width="40" height="40" alt="logo">
                        <span style="padding:5px;font-weight:bold;" class="navbar-icon-trw-ea trw-admin logo-custom">{{ ea.dashboardTitle|raw }}</span>
                    </a>
                {% endblock header_logo %}
            </div>
        {% endblock header_navbar %}
    </nav>
    <button class="btn shide" title="Click to hide/show" onclick="document.getElementById('sidebar-resizer-handler').click();"><i class="fas fa-fw fa-bars"></i></button>
{% endblock header %}
{% block responsive_header_logo %}
<a style="display:flex;align-items:center;" class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path('app_homepage') }}">
    <img src="{{ absolute_url(asset('build/images/icon.png')) }}" width="40" height="40" alt="logo">
    <span style="padding:5px;font-weight:bold;" class="navbar-icon-trw-ea logo-custom">{{ ea.dashboardTitle|raw }}</span>
</a>
{% endblock responsive_header_logo %}