/* common css */
html.html {
    height: 100%;
    font-family: $standard-font;
    color: $body-frg-light;
    background: $body-bkg-light;

    @media (prefers-color-scheme: dark) {
        color: $body-frg-dark;
        background: $body-bkg-dark;
    }
}

body.body {
    font-family: $standard-font;
    color: $body-frg-light;
    background: $body-bkg-light;
    margin:0; 
    padding:0;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    min-height:100vh; //glightbox footer fix

    @media (prefers-color-scheme: dark) {
        color: $body-frg-dark;
        background: $body-bkg-dark;
    }
}

header {
	font-family: $header-font;
}

header.trw-header {
	background-color: $head-bkg-light;
	color: $head-frg-light;
	font-size: 14pt;
	width: 100%;
	font-family: $header-font;
	z-index: 1;
	box-shadow: 0px 3px 3px $shadow-light;
	margin-bottom: 3px;

	@media (prefers-color-scheme: dark) {
		background-color: $head-bkg-dark;
		color: $head-frg-dark;
		box-shadow: 0px 3px 3px $shadow-dark;
	}

	@media (max-width: 500px) {
		font-size: 12pt;
		padding: 5px 0;
	}
}

div.page-header {
	width: 100%;
	margin: auto;
	max-width: $wide-max-width;
	display: flex;
	flex-wrap: wrap;
	nav.navbar-subcategories{
		display: block;
	}

	@media (max-width: 500px) {
		justify-content: center;
	}
	.flex{
		display: flex;
	}
	.navbar-ol{
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-li{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	code.navbar-code{
		display: flex;
		align-items: center;
		margin-left: 1rem;
	}
	svg.navbar-svg{
		flex-shrink: 0;
		width: 1.5rem;
		height: 2rem;
		&.home{
			width: 1.25rem;
			height: 1.25rem;
		}
	}
	.ml-4 {
		margin-left: 1rem;
	}
	div.ml-4{
		display: flex;
		align-items: center;
	}
	div.navbar-anchor{
		margin-left: 1rem;
		display: flex;
		align-items: center;
		column-gap: 3px;
	}
	@media screen and (max-width: $maxw-table-breakpoint) {
		.navbar-li{
			padding-left: 0;
		}
	}
}

nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 7px;

	border-bottom: 1px solid $head-bkg-light;

	@media (prefers-color-scheme: dark) {
		border-bottom-color: $head-bkg-dark;
	}

	&:empty {
		display: none;
	}

	&.navbar {
		padding: 0 !important;
	}

	.nav-link.active {
		color: $active-link-light;

		@media (prefers-color-scheme: dark) {
			color: $active-link-dark;
		}
	}

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $head-frg-light;
		transition: ease-in-out $anim-duration color;
		padding: 5px 2px;

		@media (prefers-color-scheme: dark) {
			color: $head-frg-dark;
		}

		&:hover {
			color: $active-link-light;
			transition: ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		span {
			padding: 0px 8px;
		}

		img {
			padding: 0px 4px;
			box-sizing: initial !important;
		}
	}

	&.navbar-primary {
		justify-content: center;
		font-size: 15pt;

		&.navbar-logo {
			font-weight: bold;
			font-size: 18pt;
			padding: 0px 45px;
			flex-grow: 1;
			justify-content: start !important;

			@media (max-width: 500px) {
				justify-content: center !important;
			}
		}
	}

	&.navbar-secondary {
		font-size: 11pt;
		padding: 5px;
		justify-content: start;
		width: 100%;

		.nav-link.active {
			color: $active-link-light;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		a {
			color: $body-frg-light;

			@media (prefers-color-scheme: dark) {
				color: $body-frg-dark;
			}

			&:hover {
				color: $active-link-light;

				@media (prefers-color-scheme: dark) {
					color: $active-link-dark;
				}
			}
		}
	}
}

span.navbar-icon-trw-ea.trw-admin {
	font-family: $header-font;

	&:hover {
		color: $active-link-light;
		transition: ease-in-out $anim-duration color;

		@media (prefers-color-scheme: dark) {
			color: $active-link-dark;
		}
	}
}

/* Maintenance banner */
div.maintenance-notification-bar {
	width: 100%;
	padding: 10px 5%;
	color: #31708f;
	background: #f7f5d9;
	box-sizing: border-box;
	font-size: 14px;
}

/* Footer */
footer {
	background-color: $head-bkg-light;
	color: $head-frg-light;
	font-size: 11pt;
	width: 100%;
	//padding: 8px 0;
	z-index: 1;
	box-shadow: 0px -3px 3px $shadow-light;

	@media (prefers-color-scheme: dark) {
		background-color: $head-bkg-dark;
		color: $head-frg-dark;
		box-shadow: 0px -3px 3px $shadow-dark;
	}

	div {
		width: 85%;
		margin: auto;
		max-width: $thin-max-width;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		div.footer-info {
			padding-bottom: 10px;
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $head-frg-light;
			transition: ease-in-out $anim-duration color;
			padding: 0px 10px;
			height: 40px;

			@media (prefers-color-scheme: dark) {
				color: $head-frg-dark;
			}

			&:hover {
				color: $active-link-light;
				transition: ease-in-out $anim-duration color;

				@media (prefers-color-scheme: dark) {
					color: $active-link-dark;
				}
			}

			span {
				padding: 0px 8px;
			}

			img {
				padding: 0px 3px;
				box-sizing: initial !important;
			}
		}

		div {
			min-height: 30px;
		}
	}
}
/* page content */
p, ul {
	margin-top: 14px;
	margin-bottom: 14px;
}

img {
	border: 0;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: $body-bkg-light;
	color: $body-frg-light;
	font-size: 11pt;

	@media (prefers-color-scheme: dark) {
		background-color: $body-bkg-dark;
		color: $body-frg-dark;
	}

	div.page {
		text-align: left;
		margin: 0 auto;
		width: 96%;
		padding-bottom: 15px;
		padding-top: 10px;
		max-width: $max-width;
	}

	div.title {
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 24px;
		padding: 20px;
		font-family: $header-font;
		font-weight: bold;
		img{
			padding-right: 5px;
		}

		img:hover+div.errors-div {
			display: block;
		}
		a{
			color: $body-frg-light;
			@media (prefers-color-scheme: dark) {
				color: $body-frg-dark;
			}
		}
	}

	a {
		color: $normal-link-light;
		transition: ease-in-out $anim-duration color;
		text-decoration: none;

		@media (prefers-color-scheme: dark) {
			color: $normal-link-dark;
		}
        &:not(.button-widget):hover {
            color: $visited-link-dark;
            transition: ease-in-out $anim-duration color;
        }
	}

	button, a.button, span.button {
		font-family: $standard-font;
		font-size: 11pt;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
		border: solid thin $border-light;
		border-radius: 5px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
		background: $body-bkg-light;
		color: $accent-frg-light;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 5px 10px;

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: transparent;
		}

		&:hover,
		&:active {
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration background-color;
			box-shadow: 0px 0px 2px $shadow-light;
			background-color: $button-hover-light;

			@media (prefers-color-scheme: dark) {
				background-color: $button-hover-dark;
			}
		}
	}

	input, select, text-area {
		font-family: inherit;
		font-size: inherit;
		line-height: 25px;
		min-height: 30px;
		transition: ease-in-out $anim-duration box-shadow;
		border: solid thin $border-light;
		border-radius: 5px;
		background: var(--form-control-bg);
		color: $accent-frg-light;
		box-sizing: border-box;
		&.dropdown{
			min-height: 0;
		}

		&:hover,
		&:active {
			transition: ease-in-out $anim-duration box-shadow;
			box-shadow: 0px 0px 2px $shadow-light;
			&.dropdown{
				box-shadow: none;
			}
		}

		@media (prefers-color-scheme: dark) {
			color: $accent-frg-dark;
			border-color: transparent;
		}
	}

	text-area {
		font-family: $monospace-font;
	}
}