{% extends 'base.html.twig' %}

{% block title %}
	{{ family.getName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion chip:{{ family.getName() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ family.getName() }}">
	<meta property="og:description" content="Get CPU family info for {{ family.getName() }}!">
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('cpufamily_show', {id: family.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <div class="navbar-anchor">
			<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" width="24" height="24" alt="cpu">
            <code class="text-pink-500">CPU families</code>
        </div>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{family.getId()}}</code>
    </div>
</li>
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">{{ family.getName() }}</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': family, 'entityName': 'ProcessorPlatformType', 'types': [], 'name': 'family', 'role': 'ROLE_ADMIN'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Process -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="node" width="24" height="24">Process node</div>
					<div>{{ family.getProcessNodeWithValue() ?: "<span class='badge badge-secondary'>Empty</span>"}}</div>
                    <!-- L1 cache -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">L1 cache
					</div>
					<div>{{ family.getL1code() ? (family.getL1code() ~ ' code (ratio ' ~ (family.getL1codeRatio() ?: 'unknown') ~ 'x), ') : 'Unknown code, '}}
					{{ family.getL1data() ? (family.getL1data() ~ ' data (ratio ' ~ (family.getL1dataRatio() ?: 'unknown') ~ 'x)') : 'Unknown data'}}
					</div>
					<!-- IMC -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="threads" width="24" height="24">IMC
					</div>
					<div>
					{% if family.getDramType() is not empty %}
						<div class="tag-container">
							{% for dram in family.getDramType() %}<span class="text-block">{{ dram.getName()}}</span>{% endfor %}
						</div>
					{% else %}
						None
					{% endif %}
					</div>
					<!-- CPUID -->
					{% if family.getCpuid() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="tag" width="24" height="24">CPUID
						</div>
						<div class="tag-container">
								{% for id in family.getCpuid()|sort((a, b) => a.name <=> b.name) %}
									<span class="text-block">{{ id.getValue()}}</span>
								{% endfor %}
						</div>
						{% endif %}
					<!-- Compatible with family -->
					{% if family.getCompatibleWith() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="cpu" width="24" height="24">Compatible families
						</div>
						<div class="tag-container">
							{% for compfamily in family.getCompatibleWith() %}<a href="{{ path('cpufamily_show', {id: compfamily.getId()}) }}"><span class="text-block">{{ compfamily.getName}}</span></a>{% endfor %}
						</div>
					{% endif %}
					<!-- Instruction set -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="cpu" width="24" height="24">Features
					</div>
					{% if family.getInstructionSetsFull() is not empty %}
						<div class="tag-container">
						<ul>
							{% for instruction in family.getInstructionSetsFull()|sort((a, b) => a.name|lower <=> b.name|lower) %}
								<li>{{ instruction.getName()}}</li>
							{% endfor %}
							</ul>
						</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?platform1={{ family.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/hardware.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all compatible boards</a>
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}cpus/?platformIds%5B0%5D={{ family.getId() }}">
							<img src='{{ absolute_url(asset('build/icons/486.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all CPUs for this family</a>
						</div>
					</div>
				</div>
				{% include 'macros/notes.html.twig' with {'entity': family} %}
				<!-- MANUALS -->
				{% include 'macros/manuals.html.twig' with {'entity': family.getEntityDocumentations(), 'entity_label':'', 'audit_entity':'App-Entity-EntityDocumentation'} %}
			</div>
		</div>
	</div>
</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}