{% extends 'base.html.twig' %}

{% block title %}
	{{ manufacturer.getName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ manufacturer.getName() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ manufacturer.getName() }}">
	<meta property="og:description" content="Get manufacturer info for {{ manufacturer.getName() }}!">
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('manufacturer_show', {id: manufacturer.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <div class="navbar-anchor">
			<img src="{{ absolute_url(asset('build/icons/factory.svg')) }}" width="24" height="24" alt="manuf">
            <code class="text-pink-500">Manufacturers</code>
        </div>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{manufacturer.getId()}}</code>
    </div>
</li>
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">{{ manufacturer.getName() }}</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': manufacturer, 'entityName': 'Manufacturer', 'types': [], 'name': 'manufacturer', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Full name -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/factory.svg')) }}" alt="code" width="24" height="24">Full name</div>
					<div>{{ manufacturer.getFullName() ?: "<span class='badge badge-secondary'>Empty</span>"}}</div>
					<!-- Codes -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="code" width="24" height="24">Codes</div>
					{% if manufacturer.getManufacturerCodes() is not empty %}
						<div class="tag-container">{% for code in manufacturer.getManufacturerCodes() %}
							<span class="text-block">{{ code.getValue() }}</span>{% endfor %}
						</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- BIOS Codes -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="bios" width="24" height="24">BIOS codes</div>
					{% if manufacturer.getBiosCodes() is not empty %}
						<div class="tag-container">{% for code in manufacturer.getBiosCodes() %}
							<span class="text-block">{{ code.getBiosManufacturer() }}: {{ code.getCode() }}</span>{% endfor %}
						</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Vendor ID -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="date" width="24" height="24">Vendor ID</div>
					<div class="tag-container">
					{% if manufacturer.getPciVendorIds() is not empty %}
						{% for ven in manufacturer.getPciVendorIds() %}
							<span class="text-block">{{ven.getVen()}}</span>
						{% endfor %}
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					</div>
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?manufacturerId={{ manufacturer.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/board.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards from this manufacturer</a>
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}expansioncards/?manufacturerId={{ manufacturer.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/card.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all expansion cards from this manufacturer</a>
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}expansion-chips/?expansionChipManufacturerId={{ manufacturer.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/chip.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all expansion chips from this manufacturer</a>
						</div>
					</div>
				</div>
				{% include 'macros/notes.html.twig' with {'entity': manufacturer} %}
			</div>
		</div>
	</div>
	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if manufacturer.getEntityImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in manufacturer.getEntityImages()|sort((a, b) => a.getFileName() <=> b.getFileName()) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'manufacturer', 'entity': image, 'index': lpindex, 'length': manufacturer.getEntityImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ManufacturerCrudController').setAction('edit').setEntityId(manufacturer.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/not-available.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/not-available.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>
</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}