{% extends 'base.html.twig' %}

{% block title %}Search boards (help) - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Help page for the motherboard search function.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('mobohelp')) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('mobosearch') }}">
			<img src="{{ absolute_url(asset('build/icons/motherboard.svg')) }}" width="24" height="24" alt="mobo">
            <code class="text-pink-500">Motherboards</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <div class="ml-4">
            <img src="{{ absolute_url(asset('build/icons/help.svg')) }}" width="24" height="24" alt="help">
            <code class="navbar-code">Help page</code>
        </div>
    </div>
</li>
{% endblock %}
{% block body %}
<div class="title">
    <img src="{{ absolute_url(asset('build/icons/motherboard.svg')) }}" alt="board" width="32" height="32">
    Motherboard search guide
</div>
<div class="search-help-container">The search page is comprised out of three types of fields:
{% apply markdown_to_html %}
- text fields
- dynamic select fields
    * up to 100 items will be rendered in the list at once
    * if more than 100 items exist in the list they will remain hidden until you start typing, at which point the list is instantly filtered and updated with the remaining entries
- widgets with dynamic select fields
    * you can add and remove select fields using the <span style="color:#3dabf5">+ Add a new item</span> and <div style="display: inline-block;"><a class="button-widget"><img src="/build/icons/delete.svg"><span>Del</span></a></div> buttons, respectively.
    * the select fields work in the same way as described above
{% endapply %}
</div>
<div class="search-help-container">In the motherboard search page, you will have a few filters which you can apply:
{% apply markdown_to_html %}
- Manufacturer
    * if selected, it will match all the motherboards with that manufacturer, *or* all motherboards which have an **alias** with that manufacturer
- Name
    * if filled, it matches the name of the motherboard
    * DOES NOT match the manufacturer!
- CPU socket
    * if selected, matches all the motherboards which contain that socket
- 2nd CPU socket
    * works the same as [CPU socket]
    * if the value is different vs the other select, it will only match boards that contain both sockets, like [this PAT45PV](/motherboards/s/tmc-mycomp-mynix-pat45pv), or [this DVAX2+](/motherboards/s/azza-dvax2-pt-dvax2)
    * if the value is identical with the other socket, it will match motherboards with SMP support, like [this P2B-DS](/motherboards/s/asus-p2b-ds), or [this K9ND Speedster2](/motherboards/s/msi-k9nd-speedster2)
- CPU family
    * if selected, matches all motherboards which contain that family
- 2nd CPU family
    * works the same
    * if the value is different vs the other select, it will only match motherboards which contain both CPU families
    * if the value is identical with the other select, it will match boards with that family (same behavior as the main select)
- Chipset
    * if selected, matches all boards which match the chipset criteria
    * multiple behavior options are listed:
        - any [manufacturer] chipset: matches all the boards where the chipset manufacturer = [manufacturer]
        - [manufacturer] unidentified: matches all the boards with this chipset
        - [manufacturer][name][parts]: matches all the boards with this chipset
        - Not identified: matches all the boards which DO NOT have a chipset listed
- Form factor
    * if selected matches all the boards with that form factor

### Note on widgets: a maximum of 6 widgets can be added, due to query complexity constraints, each widget acts like a logical AND for your search filters.
- Expansion slots
    * if added, it will match all the boards which contain that slot in the given quantity filter
    * count can make use of operators like &lt;, &gt;, &lt;= and &gt;= (less than, greater than, less or equal, greater or equal respectively)
- I/O ports
    * if added, it will match all the boards which contain that I/O port in the given quantity filter
    * count works the same way as with expansion slots
- Expansion chips
    * if added, it will match all the boards which contain that chip
{% endapply %}
</div>
{% endblock %}
