{% if route is defined and route == true %}{% set typeid = 'route-results' %}{% else %}{% set typeid = domTarget %}{% endif %}
<div id="{{ typeid }}">
{% if motherboards is defined and motherboards is not empty %}
	<div class="results{% if not show_images %} lst{% endif %}">
		{{ knp_pagination_render(motherboards, 'macros/pagination_async.html.twig') }}
		{% if show_images %}
		<div class="perks">
			<div id="index-datetime" class="perks-list">
			{% for motherboard in motherboards %}
				<div class="perk">
					<a href="{{ path("motherboard_show", {id:motherboard.getId()}) }}">
						<div class="perk-image">
						{% if motherboard.getImages() is not empty %}
							{% set imgtype_count = 0 %}
							{% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
								<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
									{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
									{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
								{% set imgtype_count = imgtype_count + 1 %}
							{% endfor %}
							{% if imgtype_count == 0 %}
								<img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
							{% endif %}
						{% else %}
							<img src="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}
						</div>
						<div class="perk-name">{{ motherboard.getManufacturerName() }}&nbsp;{{ motherboard.name }}</div>
						<div class="perk-alias">
							{% if motherboard.getMotherboardAliases() is not empty %}{% for alias in motherboard.getMotherboardAliases() %}
								<span class="results-alias">
									<small>{{ alias.getFullAliasName() }}{% if not loop.last %} |{% endif %}</small>
								</span>
							{% endfor %}{% endif %}
						</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
		{% else %}
		<div class="plain-list w300p table">
			<div class="list-entry centered head">
				<div>Name</div>
				<div>Aliases</div>
			</div>
			{% for motherboard in motherboards %}
			<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
				<div><a class="result-link" href="{{ path("motherboard_show", {id: motherboard.getId()}) }}">{{ motherboard.getManufacturerName() }}&nbsp;{{ motherboard.name }}</a></div>
				<div>
					{% if motherboard.getMotherboardAliases() is not empty %}
					{% for alias in motherboard.getMotherboardAliases() %}
					<span>{{ alias.getManufacturer() ? alias.getManufacturer().getName() : 'Unknown'}}&nbsp;{{ alias.name }}{% if not loop.last %} |{% endif %}</span>
					{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{{ knp_pagination_render(motherboards, 'macros/pagination_async.html.twig') }}
	</div>
{% else %}
	No results
{% endif %}
{% if params is defined %}
<div id="search-params-id" style="display:none;">{{params}}</div>
{% endif %}
</div>

