{% extends 'base.html.twig' %}

{% block title %}
	{{ motherboard.getFullName() }} - The Retro Web
{% endblock %}

{% block metatags %}
	<meta name="description" content="{{ motherboard.getMetaDescription() }}">
	<link rel="canonical" hreflang="x-default" href="{{ absolute_url(path('motherboard_show_slug', {slug: motherboard.getSlug()})) }}"/>
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('motherboard_show', {id: motherboard.getId()})) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta name="twitter:card" content="summary">
	<meta property="og:site_name" content="The Retro Web">
	<meta property="og:type" content="website">
	<meta name="twitter:title" content="{{ motherboard.getFullName() }}">
	<meta property="og:title" content="{{ motherboard.getFullName() }}">
	<meta name="twitter:description" content="{{ motherboard.getMetaDescription() }}">
	<meta property="og:description" content="{{ motherboard.getMetaDescription() }}">
	<meta property="og:url" content="{{ absolute_url(path('motherboard_show_slug', {slug: motherboard.getSlug()})) }}">
	{% if motherboard.getImages() is not empty %}
		{% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
{% endblock %}

{% block subnav %}
<li class="flex navbar-li">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('mobosearch') }}">
			<img src="{{ absolute_url(asset('build/icons/motherboard.svg')) }}" width="24" height="24" alt="mobo">
            <code class="text-pink-500">Motherboards</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{motherboard.getId()}}</code>
    </div>
</li>
{% endblock %}

{% block body %}
<!-- TITLE/ALIASES -->
<div class="title">
	{% if motherboard.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: motherboard.getManufacturer().getId()}) }}">{{ motherboard.getManufacturer().getName() }}</a>&nbsp;{{ motherboard.getName() }}
	{% else %}
		{{ motherboard.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': motherboard, 'entityName': 'Motherboard', 'types': ['chips', 'bios', 'drivers', 'docs'], 'name': 'board', 'role': 'ROLE_USER'} %}
		<!-- GENERAL -->
		<div class="internal-content">
			<div class="show-general" id="sh-general">
			<div class="quick-spec-split">
				<div class="quick-spec-table">
					<!-- Chipset -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chip" width="24" height="24">Chipset
					</div>
					{% if motherboard.getChipset() is not null %}
						<div><a href="{{ path('chipset_show', {id: motherboard.getChipset().getId()}) }}">{{ motherboard.getChipset().getFullName() }}</a></div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- CPU socket -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="cpu" width="24" height="24">CPU socket{% if motherboard.getCpuSockets()|length > 1 %}s{% endif %}
					</div>
					{% if motherboard.getCpuSockets() is not empty %}
						<div class="tag-container">{% for socket in motherboard.getCpuSockets() %}
							<a href="{{ path('cpusocket_show', {id: socket.getId()}) }}"><span class="text-block">{{ socket.getNameAndType}}</span></a>{% endfor %}</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- FSB speed -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="speed" width="24" height="24">FSB speed{% if motherboard.getCpuSpeed()|length > 1 %}s{% endif %}
					</div>
					{% if motherboard.getCpuSpeed() is not empty %}
						<div class="tag-container">{% for frequency in motherboard.getCpuSpeed()|sort((a, b) => a.value <=> b.value) %}<span class="text-block">{{ frequency.getValueWithUnit() }}</span>{% endfor %}</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Form factor -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/board.svg')) }}" alt="mobo" width="24" height="24">Form factor</div>
					<div>{{ motherboard.getFormFactor() ? motherboard.getFormFactor().getName() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					<!-- Dimensions -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="dim" width="24" height="24">Dimensions</div>
					<div>{{ motherboard.getDimensions() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>
				</div>
				<div class="quick-spec-table">
					<!-- Cache -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">Cache
					</div>
					{% if motherboard.getCacheSize() is not empty %}
					<div class="tag-container">{% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}<span class="text-block">{{ cache.getValueWithUnit()}}</span>{% endfor %}</div>
					{% else %}
					<div>None/Integrated in the CPU</div>
					{% endif %}
					<!-- Max system RAM -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">Max RAM size
					</div>
					{% if motherboard.getMotherboardMaxRams() is not empty %}
						<div class="tag-container">{% for maxRam in motherboard.getMotherboardMaxRams() %}<span class="text-block">{{ maxRam.getMaxRam().getValueWithUnit()}}{% if maxRam.getNote() is not null %}<i>({{ maxRam.getNote()}})</i>{% endif %}</span>{% endfor %}</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Supported RAM types -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">RAM type{% if motherboard.getDramType()|length > 1 %}s{% endif %}
					</div>
					{% if motherboard.getDramType() is not empty %}
						<div class="tag-container">{% for dram in motherboard.getDramType() %}<span class="text-block">{{ dram.getName() }}</span>{% endfor %}</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Memory connectors -->
					{% if motherboard.getMotherboardMemoryConnectors() is not empty %}
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">RAM connectors
					</div>
					<div class="tag-container">
						{% for slot in motherboard.getMotherboardMemoryConnectors()|sort((a, b) => a.getMemoryConnector().getName() <=> b.getMemoryConnector().getName()) %}
								<span class="text-block"><b>{{ slot.getCount() }}x&nbsp;</b>{{ slot.getMemoryConnector().getName() }}</span>
						{% endfor %}
					</div>
					{% endif %}
					<!-- PSU connectors -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="pwr" width="24" height="24">PSU connector
					</div>
					{% if motherboard.getPsuConnectors() is not empty %}
						<div class="tag-container">{% for psu in motherboard.getPsuConnectors() %}
							<a href="{{ path('psu_connector_show', {id: psu.getId()}) }}"><span class="text-block">{{ psu.getName() }}</span></a>{% endfor %}</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
				</div>
			</div>
			<div class="full-spec">
				<div class="full-spec-head"><img src="{{ absolute_url(asset('build/icons/rs232.svg')) }}" alt="conn" width="24" height="24"><b>I/O ports</b></div>
					<div class="list-table">
						{% if motherboard.getMotherboardIoPorts() is not empty %}
							{% for port in motherboard.getMotherboardIoPorts()|sort((a, b) => a.getIoPort().getName() <=> b.getIoPort().getName()) %}
								<div class="list-table-head"><b>{{ port.getCount() }}x&nbsp;</b></div>
								<div>
								{% if port.getIoPort().getCardId() is not empty %}
								<a href="{{ path('io_port_show', {id: port.getIoPort().getCardId()}) }}">{{ port.getIoPort().getName() }}</a>
								{% else %}{{ port.getIoPort().getName() }}{% endif %}
								</div>
							{% endfor %}
						{% else %}<div class="list-table-head"></div><div><span class='badge badge-secondary'>Empty</span></div>{% endif %}
					</div>

					<div class="full-spec-head"><img src="{{ absolute_url(asset('build/icons/pci_slot_smol.svg')) }}" alt="card" width="24" height="24"><b>Expansion slots</b></div>
					<div class="list-table">
						{% if motherboard.getMotherboardExpansionSlots() is not empty %}
							{% for slot in motherboard.getMotherboardExpansionSlots()|sort((a, b) => a.getExpansionSlot().getName() <=> b.getExpansionSlot().getName()) %}
								<div class="list-table-head"><b>{{ slot.getCount() }}x&nbsp;</b></div>
								<div>
								{% if slot.getExpansionSlot().getCardId() is not empty %}
								<a href="{{ path('expansion_slot_show', {id: slot.getExpansionSlot().getCardId()}) }}">{{ slot.getExpansionSlot().getName() }}</a>
								{% else %}{{ slot.getExpansionSlot().getName() }}{% endif %}
								</div>
							{% endfor %}
						{% else %}<div class="list-table-head"></div><div><span class='badge badge-secondary'>Empty</span></div>{% endif %}
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':motherboard.getMotherboardAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': motherboard} %}
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ motherboard.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
				<div class="score">Board info score is {{ motherboard.getScore() / 10 }}/10</div>
			</div>

			<!-- Chips -->
			<div class="show-expchips" id="sh-expchips">
				<div class="quick-spec-table">
					<!-- Chipset -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chipset" width="24" height="24">Chipset
					</div>
					{% if motherboard.getChipset() is not empty %}
						<div><a href="{{ path('app_homepage') }}chipsets/{{ motherboard.getChipset().getId()}}">{{ motherboard.getChipset().getFullName() }}</a></div>
					{% else %}<div><span class='badge badge-secondary'>Empty</span></div>{% endif %}
					<!-- Expansion Chips -->
					{% if motherboard.getExpansionChips() is not empty %}
						{% for chip in motherboard.getExpansionChips()|filter(a => a.getType().getName() == "Chipset part")%}
							{% if loop.first %}<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chip" width="24" height="24">Chipset parts</div><div class="tag-container">{% endif %}
								<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}"><span class="text-block">{{ chip.getFullName() }}</span></a>
							{% if loop.index == motherboard.getExpansionChips()|filter(a => a.getType().getName() == "Chipset part")|length %}</div>{% endif %}
						{% endfor %}
						{% for type in expansionchiptype %}
							{% for chip in motherboard.getExpansionChips()|filter(a => a.getType().getName() !=  "Chipset part")|filter(a => a.getType().getName() == type.getName())%}
								{% if loop.first %}<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">{{chip.getType().getName()}} chips</div><div class="tag-container">{% endif %}
								<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}"><span class="text-block">{{ chip.getFullName() }}</span></a>
								{% if loop.index == motherboard.getExpansionChips()|filter(a => a.getType().getName() == type.getName())|length %}</div>{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}
					<!-- Max video RAM -->
					{% if motherboard.getMaxVideoRam()  is not empty %}
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">Max VRAM size</div>
					<div>{{  motherboard.getMaxVideoRam().getValueWithUnit() }}</div>
					{% endif %}
					{% if motherboard.getMaxCpu() > 1 %}
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">Multi CPU support</div>
					<div>yes ({{ motherboard.getMaxCpu()}} CPUs)</div>
					{% endif %}
				</div>
				<!-- CPU family -->
				<div class="full-spec">
					<div class="full-spec-head">
						<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="cpu" width="24" height="24"><b>CPU family support</b>
					</div>
					<div class="list-table notemplate">
						{% if motherboard.getProcessorPlatformTypes() is not empty %}
						<ul>
							{% for platform in motherboard.getProcessorPlatformTypes() %}
							<li><a href="{{ path('cpufamily_show', {id: platform.getId()}) }}"><span class="text-block list">{{ platform.getName() }}</span></a></li>
							{% endfor %}
							{% for compatible in motherboard.getCompatibleFamilies() %}
							<li><a href="{{ path('cpufamily_show', {id: compatible.getId()}) }}"><span class="text-block list {% if is_granted('ROLE_USER') %}comp{% endif %}">{{ compatible.getName() }}</span></a></li>
							{% endfor %}
						</ul>
						{% else %}
							<div class="list-table-head"></div><div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
					</div>
					<div class="full-spec-head"></div>
					<div class="list-table"></div>
				</div>
			</div>

			<!-- BIOSes -->
			<div class="show-downloads" id="sh-bios">
				<div class="show-downloads-group last">
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="" width="32" height="32">
						{% set bfile_cnt = 0 %}
						{% if motherboard.getMotherboardBios() is not empty %}
							{% for bios in motherboard.getMotherboardBios() %}
								{% if bios.getFileName() is not null %}{% set bfile_cnt = bfile_cnt + 1 %}{% endif %}
							{% endfor %}
						{% endif %}
						<span>{{ bfile_cnt }} file{% if bfile_cnt != 1 %}s{% endif %} available</span>
					</div>
					{% if motherboard.getMotherboardBios() is not empty %}
						{% for biosVen,biosList in motherboard.getMotherboardBiosByVendor() %}
						<p class="bios-vendor-header"><em>Vendor:</em>&nbsp;{{ biosVen }} [{{ biosList|length }} entr{% if biosList|length > 1 %}ies{% else %}y{% endif %}]</p>
						<div class="plain-list w300p table">
							<div class="list-entry centered head">
								<div>POST string</div>
								<div>Note</div>
								<div>Core Ver.</div>
								<div>BIOS Ver.</div>
								<div>Logs</div>
							</div>
							{% for bios in biosList|sort((a, b) => b.boardVersion <=> a.boardVersion) %}
							<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
								<div class="header-label">POST string</div>
								<div class="monospace">{{ bios.getPostString() }}</div>
								<div class="header-label">Note</div>
								<div>{{ bios.getNote() }}</div>
								<div class="header-label">Core version</div>
								<div>{{ bios.getCoreVersion() }}</div>
								<div class="header-label">BIOS version</div>
								<div>
									{% if bios.getFileName() is not null %}
										<a class="combo" href="{{ vich_uploader_asset(bios, 'romFile') }}">
											<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
											<span>
											{% if bios.getBoardVersion() is not null %}
												{{ bios.getBoardVersion() }}
											{% else %}
												[unknown]
											{% endif %}
											</span>
										</a>
									{% else %}
										{{ bios.getBoardVersion() }}
									{% endif %}
								</div>
								<div class="header-label">Logs</div>
								<div>
									<a href="{{ path('dh_auditor_show_entity_history', { 'entity': 'App-Entity-MotherboardBios', 'id': bios.getId() }) }}">
										<img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="pwr" width="16" height="16">
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<!-- DRIVERS -->
			<div class="show-downloads" id="sh-driver">
				{% include 'macros/drivers.html.twig' with {'entity': motherboard.getAllDrivers(), 'css': 'last'} %}
			</div>
			<!-- Documentation -->
			<div class="show-downloads" id="sh-docs">
				{% include 'macros/manuals.html.twig' with {'entity': motherboard.getManuals(), 'entity_label':'board', 'audit_entity':'App-Entity-Manual', 'chips': motherboard.getChipDocs()} %}
				{% include 'macros/miscfiles.html.twig' with {'entity': motherboard.getMiscFiles(), 'audit_entity':'App-Entity-MiscFile'} %}
			</div>
		</div>
	</div>
	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if motherboard.getImages() is not empty %}
		{% for image in motherboard.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
			{% include 'macros/images.html.twig' with {'type':'motherboard', 'entity': image, 'index': loop.index, 'length': loop.length} %}
		{% endfor %}
	{% else %}
		<div class="show-image">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\MotherboardCrudController').setAction('edit').setEntityId(motherboard.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/board-missing.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/board-missing.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>
</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}