{% extends 'base.html.twig' %}
{% if letter %}{% set ltr = letter %}{% else %}{% set ltr = "?" %}{% endif %}
{% block title %}Index: {{ltr}} - TRW{% endblock %}
{% block metatags %}
	<meta name="description" content="Search for a chipset by name, manufacturer, part number and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chipsetindex', {letter: ltr })) }}"/>
{% endblock %}

{% block body %}
	<div class="title">Index: {{ltr}}</div>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ driver_count }} drivers</i>
	</p>
	{% if drivers is not empty %}
		<div class="results lst">
		{{ knp_pagination_render(drivers, 'macros/pagination.html.twig') }}
		<div class="plain-list w300p table">
			{% include 'macros/widget.html.twig' with {'type':'driver-results', 'entity': drivers} %}
		</div>
		{{ knp_pagination_render(drivers, 'macros/pagination.html.twig') }}
	</div>
	{% endif %}
{% endblock %}
