{% extends 'base.html.twig' %}

{% block title %}Search drivers - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a driver by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('driversearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('driversearch') }}">
			<img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" width="24" height="24" alt="driver">
            <code class="text-pink-500">Drivers &amp; software</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_driver', 'action':path("driversearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('driverlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="driver" width="32" height="32">
			Search for drivers &amp; software
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_file_name">
					<span>File name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.file_name) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'drivers', 'dataresetids': ''} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_version">
							<span>Version</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.version) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label flex">
							<span>OS support</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'osFlags'} %}
						</label>
						<div class="search-form-widget filter-list" id="osFlags-fields-list" data-widget-counter="{{ form.osFlags|length }}" data-prototype="
							{{ form_widget(form.osFlags.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for flag in form.osFlags %}
								<div class="editor-row">
									{{ form_widget(flag, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(flag) }}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<div class="search-buttons">
					<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
						<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
						<span>Reset</span>
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestDrivers is defined %}
	<div class="perks">
		<p><b>Last edited drivers</b></p>
		<div class="results lst">
			<div class="plain-list w300p table">
				<div class="list-entry centered head">
					<div>Name</div>
					<div>Version</div>
					<div>Release date</div>
					<div>Size</div>
					<div>File name</div>
					<div>Last updated</div>
				</div>
				{% for driver in latestDrivers %}
					<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
						<div class="header-label">Name</div>
						<div><a class="result-link" href="{{ path("driver_show", {id: driver.getId()}) }}">{{ driver.getName() }}</a></div>
						<div class="header-label">Version</div>
						<div>{{ driver.getFileVersion() ? driver.getFileVersion() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<div class="header-label">Release date</div>
						<div class="perk-date-simple">{{ driver.getReleaseDate() ? driver.getReleaseDateString() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<div class="header-label">Size</div>
						<div>{{driver.getSize() ? driver.getSizeFormatted() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<div class="header-label">File name</div>
						<div><a class="combo" href="{{ vich_uploader_asset(driver, 'file')}}">
							<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" style="vertical-align: middle;">{{ driver.getFileNameSimple() }}</a>
						</div>
						<div class="header-label">Last updated</div>
						<div>
							<a href="{{ path('dh_auditor_show_entity_history', { 'entity': 'App-Entity-LargeFile', 'id': driver.getId() }) }}">
								<img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="pwr" width="16" height="16">
							</a>
							<i>{{ driver.getLastEdited()|date("Y-m-d") }}</i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	{% if drivers is defined %}
		{% include 'drivers/result.html.twig' with {'drivers': drivers, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
