{% extends 'base.html.twig' %}

{% block title %}
	{{ driver.getName() }} - The Retro Web
{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ driver.getMetaDescription() }}">
	<link rel="canonical" hreflang="x-default" href="{{ absolute_url(path('driver_show', {id: driver.getId()})) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
		<meta name="twitter:card" content="summary">
		<meta property="og:site_name" content="The Retro Web">
		<meta property="og:type" content="website">
		<meta name="twitter:title" content="{{ driver.getName() }}">
		<meta property="og:title" content="{{ driver.getName() }}">
		<meta name="twitter:description" content="{{ driver.getMetaDescription() }}">
		<meta property="og:description" content="{{ driver.getMetaDescription() }}">
		<meta property="og:url" content="{{ absolute_url(path('driver_show', {id: driver.getId()})) }}">
	{% endapply %}
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('driversearch') }}">
			<img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" width="24" height="24" alt="driver">
            <code class="text-pink-500">Drivers &amp; software</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{driver.getId()}}</code>
    </div>
</li>
{% endblock %}
{% block body %}
<!-- NAME -->
<div class="title">{{ driver.getName() }}</div>	
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': driver, 'entityName': 'LargeFile', 'types': ['associations'], 'name': 'driver', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-split">
					<div class="quick-spec-table">
						<!-- Release Date -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="date" width="24" height="24">Release Date</div>
						<div class="perk-date-simple">{{ driver.getReleaseDateString() ? driver.getReleaseDateString() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- Version -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="chip" width="24" height="24">Version</div>
						<div>{{ driver.getFileVersion() ? driver.getFileVersion() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/file.svg')) }}" alt="chip" width="24" height="24">Size</div>
						<div>{{driver.getSize() ? driver.getSizeFormatted() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- File -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/mediatype.svg')) }}" alt="file" width="24" height="24">File</div>
						<div><a href="{{ vich_uploader_asset(driver, 'file')}}">
							<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" style="vertical-align: middle;">
								{{ driver.getFileNameSimple() }}
							</a>
						</div>
					</div>
					<div class="quick-spec-table">
						<!-- Supported OS -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="arch" width="24" height="24">OS architecture</div>
						<div class="tag-container">
						{% if driver.getOsArchitecture() is not empty %}
							{% for arch in driver.getOsArchitecture() %}
							<span class="text-block">{{arch.getName()}}</span>
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
						</div>
						<!-- Supported OS -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/1998win.svg')) }}" alt="os" width="24" height="24">OS support</div>
						<div class="tag-container"><ul>
						{% if driver.getOsFlags() is not empty %}
							{% for os in driver.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getSort <=> b.getSort) %}
							<li><span class="text-block" style="font-size: 0.9rem;padding:6px 8px; margin:1px;">
								<img src="{{ vich_uploader_asset(os, 'icon')}}" width="32">
								<span>{{os.getName()}}</span>
							</span></li>
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
						</ul></div>
					</div>
				</div>
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ driver.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
			<div class="show-expchips" id="sh-expchips">
				<!-- Expansion chips -->
				<div class="quick-spec-table">
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">Expansion chips</div>
					<div class="tag-container"><ul>
					{% if driver.getExpansionChips() is not empty %}
						{% for chip in driver.getExpansionChips() %}
							<li><a href="{{ path('expansion_chip_show', {id: chip.getExpansionChip().getId()}) }}"><span class="text-block">{{ chip.getExpansionChip().getFullName() }}</span></a></li>
						{% endfor %}
					{% else %}
						<div>None</div>
					{% endif %}
					</ul></div>
				</div>
				<!-- Expansion cards -->
				<div class="quick-spec-table">
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="card" width="24" height="24">Expansion cards</div>
					<div class="tag-container"><ul>
					{% if driver.getExpansionCards() is not empty %}
						{% for card in driver.getExpansionCards() %}
							<li><a href="{{ path('expansioncard_show', {id: card.getExpansionCard().getId()}) }}"><span class="text-block">{{ card.getExpansionCard().getFullName() }}</span></a></li>
						{% endfor %}
					{% else %}
						<div>None</div>
					{% endif %}
					</ul></div>
				</div>
			</div>
		</div>
		{% if driver.getNote() is not empty %}
			{% apply markdown_to_html %}{{ driver.getNote() }}{% endapply %}
		{% endif %}
		<div class="disclaimer">
			<p><b>Disclaimer</b></p>
			<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
		</div>
	</div>
</div>
{% endblock %}
