{% extends 'base.html.twig' %}

{% block title %}Search floppy drives - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a floppy drive by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('fddsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('fddsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/floppy_drive.svg')) }}" width="24" height="24" alt="fdd">
            <code class="text-pink-500">Floppy drives</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_fdd', 'action':path("fddsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('fddlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/floppy_drive.svg')) }}" alt="fdd" width="32" height="32">
			Search for a floppy drive
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry" >
				<label class="search-form-label" for="search_fddManufacturer">
					<span>Manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.fddManufacturer) }}</div>
				</div>
			</div>
			<div class="search-form-entry" >
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'floppydrives', 'dataresetids': 'search_fddManufacturer', 'search_with_images' : true} %}
		</section>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestFdds is defined %}
		{% include 'macros/lastedited.html.twig' with {'entity': latestFdds, 'type':'fdd', 'entity_label':'floppy drives', 'path': 'floppy_drive_show'} %}
	{% endif %}
	{% if fdds is defined %}
		{% include 'floppydrive/result.html.twig' with {'fdds': fdds, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
