/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
$standard-font: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$header-font: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$anim-duration: 0.1s;

/* Sizing */
$wide-max-width: 1600px;
$max-width: 1400px;
$thin-max-width: 1000px;
$form-breakpoint: 460px;

/* Light mode colors */
$btn-hover-light: rgb(215, 133, 0);
$active-link-light: #3dabf5;
$container-bkg-light: #FFFFFF;
$content-frg-light: #000000;

/* Dark mode colors */
$btn-hover-dark: rgb(247, 207, 62);
$active-link-dark: #77c5f9;
$container-bkg-dark: #202020;
$border-dark: #cdcdcd;

@mixin noselect() {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin border($color) {
	border-width: 0;
	border-bottom-width: 3px;
	border-style: solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, $color, transparent);
}
img.ea-entity-icon{
	margin:0px 6px;
}
div.content-header-title > h1.title{
	font-weight: 500;
}
.ea-dark-scheme{
	--body-bg:#222;
	--sidebar-bg:#303030;
	--button-secondary-bg:#525252;
	--table-cell-border-color: #404040;
	--form-control-bg: #404040;
	--sidebar-menu-active-item-bg:#404040;
	--sidebar-menu-active-item-color:#60a5fa;
	--sidebar-menu-color:#b5b5b5;
}
#main-menu .menu .submenu {
	margin-top: 0;
	a {
		color: var(--sidebar-menu-color);
	}
}
.form-group.field-collection .field-collection-delete-button {
	i {
		font-size: 18px;
		vertical-align: baseline;
	}
	right: 0;
	top: 0;
}
.form-group.field-collection .accordion-item .form-group {
    padding: 2px 0
}
.ts-wrapper .ts-control {
    height: initial;
}

.btn-link-danger {
	transition: ease-in-out 0.1s color;
	padding: 0;

	&:active,
	&:active:focus,
	&:focus,
	&:hover {
		color: $btn-hover-light;

		@media (prefers-color-scheme: dark) {
			color: $btn-hover-dark;
		}
	}
}

.field-collection-add-button {
	transition: ease-in-out 0.15s color;

	&:active,
	&:active:focus,
	&:hover {
		color: $btn-hover-light;

		@media (prefers-color-scheme: dark) {
			color: $btn-hover-dark;
		}
	}
}

.accordion-body.trw {
	display: flex;
	column-gap: 5px;
	padding: 10px;
	align-items: center;

	div.accordion-body-widget {
		flex-grow: 1;
	}

	div.accordion-body-delete-btn {
		flex-grow: 0;
		// align-self: center;
	}
}
@media (max-width: 1325px){
	.content-header {
		flex-direction: column;
	}
}


.editor-errors {
	display: flex;
	flex-direction: row;
	column-gap: 5px;
	align-items: center;
}
.bios-bot-csv-box{
	border: 1px solid #cbd5e1;
	@media (prefers-color-scheme: dark) {
		border: 1px solid #525252;
	}
	border-radius: 4px;
	padding: 10px;
	>div{
		padding-bottom: 5px;
		>span{
			min-width: 80px;
			display: inline-block;
		}
	}
}
div.show-nav-ea {
	@include noselect();
	flex-grow: 1;
	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 2px;

	input {
		display: none;
	}

	label {
		display: inline-table;
		align-items: center;
		padding: 8px 10px;
		height: 24px;
		cursor: pointer;
		transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;

		img {
			margin-right: 5px;
		}

		border-radius: 5px 5px 0px 0px;
		border: thin solid transparent;

		&:hover {
			transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;
			color: $active-link-light;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}
	}

	label:hover,
	input[name="tabs"]:checked+label {
		transition: ease-in-out background-color $anim-duration, ease-in-out color $anim-duration;
		background: $container-bkg-light;
		border: thin solid $content-frg-light;
		border-bottom: thin solid $active-link-light;

		@media (prefers-color-scheme: dark) {
			background: $container-bkg-dark;
			border: thin solid $border-dark;
			border-bottom: thin solid $active-link-dark;
		}
	}
}
div.vich-download-flex{
	display: flex;
	flex-direction: column;
	div.row-flex{
		display: flex;
		flex-direction: row;
		@media screen and (max-width: 1400px) {
			flex-direction: column;
		}
	}
}

body:not(.ea-content-width-full) .content-wrapper {
	max-width: none;
}

.actions {
	display: flex;
	justify-content: center;
	padding: 8px 0px !important;

	a {
		border: 1px solid var(--button-secondary-bg);
		padding: 3px 5px;
		border-radius: 3px;
		background-color: var(--button-secondary-bg);
		color: var(--button-secondary-color);
		transition: ease-in-out 0.15s all;

		&:hover {
			//color: var(--blue-400);
			border-color: var(--blue-400);
		}

		&.text-danger:hover {
			border-color: $btn-hover-dark;

			span {
				color: $btn-hover-dark;
			}
		}

	}
}
/* hide save buttons when JS is used */
div.hide-actions{
	button.action-saveAndContinue, button.action-saveAndReturn{
		display: none;
	}
	button, a{
		margin-top: 5px;
	}
}
/* driver editor stuff */
div.driver-messages {
	padding-right: 10px;

	span {
		vertical-align: top;
	}

	progress {
		height: 25px;
	}

	img {
		display: none;
	}
}
div.widget90 {
	width:90%;
	display: inline-block !important;
}

div.image-bulk-box{
	padding:5px;
	span.bulk-box-label{
		width:75px;
		display: inline-block;
	}
	input.image-input{
		padding: 30px 30px;
		border: 1px dashed black;
		@media (prefers-color-scheme: dark) {
			border: 1px dashed white;
		}
	}
	div.bulk-box-secondary{
		display: flex;
		column-gap: 5px;
		padding-top: 5px;
		& > div{
			width:50%;
		}
	}
}

input.trw-bigfilebox{
	padding: 25px;
	width: 100%;
	border: 1px dashed black;
	@media (prefers-color-scheme: dark) {
		border: 1px dashed white;
	}
}
/* misc specs styling */
div.card-specs-grid textarea{
	min-height: 30rem;
}
div.specs-elements{
	display: flex;
	gap: 5px;
	padding: 0;
	label{
		display: none;
	}
	div.first{
		flex-grow: 4;
	}
	div.second{
		flex-grow: 6;
	}
}
/* form customization bongaloo */
div.multi-widget-trw{
	div.ts-wrapper{
		background-color: #ffffff;
		@media (prefers-color-scheme: dark) {
			background-color: #252525;
		}
	}
	.ts-wrapper.multi .ts-control>div.item{
			font-size: 15px;
			padding: 4px 6px;
			width:85%;
			a.remove{
				border-left: 1px solid transparent;
				margin-left: auto;
				i{font-size: 19px;}
			}
	}
	div.ts-control{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
div.count-css > div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	span{
		flex: 1 0 30%;
		padding: 0px 6px;
		font-size: 1.1rem;
	}
	input{
		flex: 1 0 70%;
	}
	div.invalid-feedback{
		display: flex;
		flex-basis: 100%;
	}
}
div.padright{
	padding-left: 0;
	padding-right: 5px;
}
div.nopadright{
	padding-right: 0;
}
div.nopadleft{
	padding-left: 0;
}
div.mobo-bios{
	div.row{
		padding: 0px 10px;
	}
}
@media screen and (min-width: 1400px) {
	div.col-xxl-2-5{
		flex:0 0 auto;
		width:21%
	}
}
.ea-vich-image {
	padding-right: 10px;
}
/* ts multi select and delete buttons */
i.red{
	color: var(--link-danger-color);
}
.ts-wrapper.multi .ts-control>div.clear-button {
	box-shadow: none;
}
.plugin-clear_button.ts-wrapper .clear-button, .plugin-clear_button.ts-wrapper.multi .clear-button {
	background: transparent!important;
}
.plugin-clear_button.ts-wrapper .clear-button:hover, .plugin-clear_button.ts-wrapper.multi .clear-button:hover {
    background: transparent!important;
	i.red{
		color: $btn-hover-light;
		@media (prefers-color-scheme: dark) {
			color: $btn-hover-dark;
		}
	}
}
.ts-wrapper.plugin-remove_button .item .remove:hover {
	background: transparent;
	i.red{
		color: $btn-hover-light;
		@media (prefers-color-scheme: dark) {
			color: $btn-hover-dark;
		}
	}
}
div.clear-button-trw{
	border: none !important;
}

.form-widget .form-select,
.form-widget input.form-control,
.form-widget textarea.form-control {
	white-space: initial;
}

.shide {
	margin: 0px 5px;
	transition: ease-in-out 0.1s background-color;
	box-shadow: none !important;

	&:hover {
		background-color: $btn-hover-dark;
	}
}
input.items-placeholder{
	display: none !important;
}
.ts-wrapper.form-select.multi{
	div.clear-button{
		top: 15px !important;
		right: 17% !important;
	}
	div.ts-control{
		min-height: 28px;
	}
}