{% extends 'base.html.twig' %}

{% block title %}Search for CPUs (help) - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Help page for the hard drive search function.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('hddhelp')) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('hddsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/harddrive.svg')) }}" width="24" height="24" alt="hdd">
            <code class="text-pink-500">Hard drives</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <div class="ml-4">
            <img src="{{ absolute_url(asset('build/icons/help.svg')) }}" width="24" height="24" alt="help">
            <code class="navbar-code">Help page</code>
        </div>
    </div>
</li>
{% endblock %}
{% block body %}
<div class="title">
    <img src="{{ absolute_url(asset('build/icons/harddrive.svg')) }}" width="32" height="32" alt="hdd">
    Hard drive search guide
</div>
<div class="search-help-container">The search page is comprised out of two types of fields:
{% apply markdown_to_html %}
- text fields
- dynamic select fields
    * up to 100 items will be rendered in the list at once
    * if more than 100 items exist in the list they will remain hidden until you start typing, at which point the list is instantly filtered and updated with the remaining entries
{% endapply %}
</div>
<div class="search-help-container">In the Hard drive search page, you will have a few filters which you can apply:
{% apply markdown_to_html %}
- Manufacturer
    * if selected, it will match all the hard drives with that manufacturer
- Name
    * if filled, it matches all hard drives with that name
    * DOES NOT match the manufacturer!
- Capacity
    * if filled, it will match all hard drives with the given capacity filter
    * the default unit is Megabytes (MB), can be used with or without the unit (e.g. "100" or "100 MB" yield the same result)
    * can make use of operators like &lt;, &gt;, &lt;= and &gt;= (less than, greater than, less or equal, greater or equal respectively)
{% endapply %}
</div>
{% endblock %}
