{% extends 'base.html.twig' %}

{% block title %}
	{{ harddrive.getFullName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion chip:{{ harddrive.getFullName() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
	<script src="/build/js/audio.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ harddrive.getFullName() }}">
	<meta property="og:description" content="Get info, images and documentation for the {{ harddrive.getFullName() }} hard drive">
	{% if harddrive.getStorageDeviceImages() is not empty %}
		{% for image in harddrive.getStorageDeviceImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('hard_drive_show', {id: harddrive.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('hddsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/harddrive.svg')) }}" width="24" height="24" alt="hdd">
            <code class="text-pink-500">Hard drives</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{harddrive.getId()}}</code>
    </div>
</li>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	{% if harddrive.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: harddrive.getManufacturer().getId()}) }}">{{ harddrive.getManufacturer().getName() }}</a>&nbsp;{{ harddrive.getNameWithoutManuf() }}
	{% else %}
		{{ harddrive.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': harddrive, 'entityName': 'HardDrive', 'types': [], 'name': 'hard drive', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-split">
					<div class="quick-spec-table">
						<!-- Interface -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/io.svg')) }}" alt="cpu" width="24" height="24">Interface{% if harddrive.getInterfaces()|length > 1 %}s{% endif %}
						</div>
						{% if harddrive.getInterfaces() is not empty %}
							<div class="tag-container">{% for interface in harddrive.getInterfaces() %}<span class="text-block">{{ interface.getName}}</span>{% endfor %}</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						<!-- Power connectors -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="pwr" width="24" height="24">Power connector
						</div>
						{% if harddrive.getPowerConnectors() is not empty %}
							<div class="tag-container">{% for power in harddrive.getPowerConnectors() %}
								<a href="{{ path('psu_connector_show', {id: power.getId()}) }}"><span class="text-block">{{ power.getName() }}</span></a>{% endfor %}</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						<!-- Size -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="cpu" width="24" height="24">Form factor
						</div>
						<div>{{ harddrive.getPhysicalSize() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- Capacity -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/hdd.svg')) }}" alt="cpu" width="24" height="24">Capacity (formatted)
						</div>
						<div>{{ harddrive.getCapacityFormatted() }}</div>
						<!-- Buffer -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">Buffer size
						</div>
						<div>{{ harddrive.getBuffer() ? harddrive.getBufferFormatted() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					</div>
					<div class="quick-spec-table">
						<!-- Cylinders/Heads/Sectors -->
						{% if harddrive.getCylinders() is not empty or harddrive.getHeads() is not empty or harddrive.getSectors() is not empty%}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/platter.svg')) }}" alt="486" width="24" height="24">Cyl./Heads/Sectors
						</div>
						<div>{{ harddrive.getCylinders() ?: "<span class='badge badge-secondary'>Empty</span>" }} / {{ harddrive.getHeads() ?: "<span class='badge badge-secondary'>Empty</span>" }} / {{ harddrive.getSectors() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>
						{% endif %}
						<!-- Platters -->
						{% if harddrive.getPlatters() is not empty %}
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/platter.svg')) }}" alt="486" width="24" height="24">Platter count
						</div>
						<div>{{ harddrive.getPlatters() }}</div>
						{% endif %}
						<!-- Random seek -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="486" width="24" height="24">Random seek
						</div>
						<div>{{ harddrive.getRandomSeek() ? harddrive.getRandomSeek() ~ ' ms' : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- Track-to-track seek -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="486" width="24" height="24">Track-to-track seek
						</div>
						<div>{{ harddrive.getTrackSeek() ?  harddrive.getTrackSeek() ~ ' ms' : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- RPM -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="486" width="24" height="24">RPM
						</div>
						<div>{{ harddrive.getSpindleSpeed() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':harddrive.getStorageDeviceAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': harddrive} %}
				<!-- MANUALS -->
				{% include 'macros/manuals.html.twig' with {'entity': harddrive.getStorageDeviceDocumentations(), 'entity_label':'', 'audit_entity':'App-Entity-StorageDeviceDocumentation'} %}
				<!-- AUDIO FILES -->
				<div class="show-downloads-group">
					{% set allFiles = harddrive.getAudioFiles() %}
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/audio.svg')) }}" alt="doc" width="32" height="32">
						<span>{{ allFiles|length }} audio file{% if allFiles|length != 1 %}s{% endif %} available</span>
					</div>
					{% if allFiles is not empty %}
					<div id="audiofiles" data-count="{{allFiles|length}}" class="plain-list w300p table">
						<div class="list-entry centered head">
							<div>Title</div>
							<div>Preview</div>
						</div>
						{% for file in allFiles|sort((a, b) => a.getName <=> b.getName) %}
						<div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
							<div class="header-label">Title</div>
							<div><a class="combo" href="{{ vich_uploader_asset(file, 'audioFile') }}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
									<span>{{ file.getName() }}</span>
							</a></div>
							<div class="header-label">Preview</div>
							{% include 'macros/player.html.twig' with {'src': vich_uploader_asset(file, 'audioFile'), 'index': loop.index} %}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				{% include 'macros/miscfiles.html.twig' with {'entity': harddrive.getStorageDeviceMiscFiles(), 'audit_entity':'App-Entity-StorageDeviceMiscFile'} %}
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ harddrive.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if harddrive.getStorageDeviceImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in harddrive.getStorageDeviceImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.getType <=> b.getType) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'expansionchip', 'entity': image, 'index': lpindex, 'length': harddrive.getStorageDeviceImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\HardDriveCrudController').setAction('edit').setEntityId(harddrive.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/hdd-missing.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
