{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{# added the flashy triangle #}
{% block form_errors %}
{% if attr.class|default('') == 'global-invalid-feedback'%}
    <div class="editor-errors">
        <img src="{{ absolute_url(asset('build/icons/warning.svg')) }}" alt="warning" width="40" height="40">
        <div>
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="{{ attr.class|default('') }} invalid-feedback d-block">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% else %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="{{ attr.class|default('') }} invalid-feedback d-block">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock form_errors %}

{# custom SVG tab icons #}
{% block ea_form_tablist_row %}
    {% set tab_id_option_name = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Field\\FormField::OPTION_TAB_ID') %}
    {% set tab_is_active_option_name = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Field\\FormField::OPTION_TAB_IS_ACTIVE') %}
    {% set tab_error_count_option_name = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Field\\FormField::OPTION_TAB_ERROR_COUNT') %}
    {% set field = form.vars.ea_vars.field %}

    <div class="nav-tabs-custom form-tabs-tablist">
        <ul class="nav nav-tabs">
            {% for tab in field.getCustomOption('tabs') %}
                <li class="nav-item">
                    <a class="nav-link {% if tab.getCustomOption(tab_is_active_option_name) %}active{% endif %}" href="#{{ tab.getCustomOption(tab_id_option_name) }}" id="tablist-{{ tab.getCustomOption(tab_id_option_name) }}" data-bs-toggle="tab">
                        {%- if tab.getCustomOption('icon')|default(false) -%}
                            <img src="/build/icons/{{ tab.getCustomOption('icon')[6:] }}" height="28" width="28" style="margin-right:3px;">
                        {%- endif -%}
                        {{ tab.label|trans(domain = ea.i18n.translationDomain)|raw }}

                        {% set tab_error_count = tab.getCustomOption(tab_error_count_option_name)  %}
                        {%- if tab_error_count > 0 -%}
                            <span class="badge badge-danger" title="{{ 'form.tab.error_badge_title'|trans({'%count%': tab_error_count}, 'EasyAdminBundle') }}">
                                {{- tab_error_count -}}
                            </span>
                        {%- endif -%}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock ea_form_tablist_row %}

{# relocated add widget button, added IDs for sockets #}
{% block collection_widget %}
    {# the "is iterable" check is needed because if an object implements __toString() and
               returns an empty string, "is empty" returns true even if it's not a collection #}
    {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form.vars.ea_crud_form.ea_field.fieldFqcn ?? false %}
    {% if allow_add|default(false) and not disabled %}
        <button type="button" class="btn btn-link field-collection-add-button">
            <i class="fa fa-plus pr-1"></i>
            {{ 'action.add_new_item'|trans({}, 'EasyAdminBundle') }}
        </button>
    {% endif %}
    <div class="ea-form-collection-items" id="{{id}}_collection">
        {% if isEmptyCollection %}
            {{ block('empty_collection') }}
        {% elseif is_array_field %}
            {{ block('form_widget') }}
        {% else %}
            <div class="accordion">
                {{ block('form_widget') }}
            </div>
        {% endif %}
    </div>

    {% if isEmptyCollection or form.vars.prototype is defined %}
        {% set attr = attr|merge({'data-empty-collection': block('empty_collection') }) %}
    {% endif %}
{% endblock collection_widget %}

{# delete button tweaks, removed accordion #}
{% block collection_entry_row %}
    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form_parent(form).vars.ea_crud_form.ea_field.fieldFqcn ?? false %}
    {% set is_complex = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('entryIsComplex') ?? false %}
    {% set allows_deleting_items = form_parent(form).vars.allow_delete|default(false) %}
    {% set render_expanded = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('renderExpanded') ?? false %}
    {% set delete_item_button %}
        <button id="{{ id }}_deletebtn" type="button" class="btn btn-link btn-link-danger field-collection-delete-button"
                style="position:relative;"
                title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
            <i class="far fa-trash-alt"></i>
        </button>
    {% endset %}
    <div class="field-collection-item {{ is_complex ? 'field-collection-item-complex' }} {{ form.parent.vars.id }}_cssid" data-id="{{form.vars.name}}">
        {% if is_array_field|default(false) %}
            {{ form_widget(form) }}
            {% if allows_deleting_items and not disabled %}
                {{ delete_item_button }}
            {% endif %}
        {% else %}
            <div class="accordion-item">
                <div id="{{ id }}-contents" class="accordion-collapse collapse {{ render_expanded ? 'show' }}">
                    <div class="accordion-body trw">
                        <div class="accordion-body-widget">{{ form_widget(form) }}</div>
                        <div class="accordion-body-delete-btn">{% if allows_deleting_items and not disabled %}
                            {{ delete_item_button }}
                        {% endif %}</div>
                    </div>
                </div>
                <button class="accordion-button {{ render_expanded ? '' : 'collapsed' }}" style="width:0;display:none;" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                        <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                        {{ value|ea_as_string }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock collection_entry_row %}

{# some customizations for the upload field #}
{% block vich_file_widget %}
    <div class="ea-vich-file">
        {% set file_upload_js %}
            var newFile = document.getElementById('{{ form.file.vars.id }}').files[0];
            var fileSizeInMegabytes = newFile.size > 1024 * 1024;
            var fileSize = fileSizeInMegabytes ? newFile.size / (1024 * 1024) : newFile.size / 1024;
            document.getElementById('{{ form.file.vars.id }}_new_file_name').innerText = newFile.name + ' (' + fileSize.toFixed(2) + ' ' + (fileSizeInMegabytes ? 'MB' : 'KB') + ')';
        {% endset %}
        <div class="vich-download-flex">
            <div class="row-flex">
            <div class="ea-vich-file-actions">
                {# the container element is needed to allow customizing the <input type="file" /> #}
                <div class="btn btn-secondary input-file-container">
                    <i class="fa fa-fw fa-upload"></i> {{ 'action.choose_file'|trans({}, 'EasyAdminBundle') }}
                    {{ form_widget(form.file, { 'attr': { 'onchange': file_upload_js }, vich: true}) }}
                </div>

                {% if form.delete is defined %}
                    {{ form_row(form.delete) }}
                {% endif %}
            </div>
            {% if download_uri|default('') is not empty %}
                {% set file_extension = download_uri|split('.')|last %}
                {% set extension_icons = {
                    'gif': 'fa-file-image-o',
                    'jpg': 'fa-file-image-o',
                    'pdf': 'fa-file-pdf-o',
                    'png': 'fa-file-image-o',
                    'zip': 'fa-file-archive-o'
                } %}
                <a id="{{ form.file.vars.id }}_link" class="ea-vich-file-name" href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" title="{{ download_uri|split('/')|last ?: 'download'|trans({}, 'VichUploaderBundle') }}">
                    <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
                    {%- if download_label|default(false) -%}
                        {{ ' ' ~ download_uri|split('/')|last ?: 'download'|trans({}, 'VichUploaderBundle') }}
                    {%- else -%}
                        {{ ' Download'|trans }}
                    {%- endif -%}
                </a>
            {% endif %}
            </div>
            <div class="small" id="{{ form.file.vars.id }}_new_file_name"></div>
        </div>
    </div>
{% endblock %}

{# tweaked thumbnails #}
{% block vich_image_widget %}
    {% set formTypeOptions = ea_crud_form.ea_field.formTypeOptions|default('') %}
    <div class="ea-vich-image">
        {% if image_uri|default('') is not empty %}
            {% if download_uri|default('') is empty %}
                <div class="ea-lightbox-thumbnail">
                    {% if image_uri ends with '.svg' %}
                        <img style="cursor: initial" src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}">
                    {% else %}
                        <img style="cursor: initial" src="{{ (asset_helper is same as(true) ? asset(image_uri) : image_uri)|ea_apply_filter_if_exists('imagine_filter','show_thumb') }}">
                    {% endif %}
                </div>
            {% else %}
                {% set _lightbox_id = 'ea-lightbox-' ~ id %}
                <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" class="ea-lightbox-thumbnail glightbox" data-ea-lightbox-content-selector="#{{ _lightbox_id }}">
                    {% if download_uri ends with '.svg' %}
                        <img src="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}">
                    {% else %}
                        <img src="{{ (asset_helper is same as(true) ? asset(download_uri) : download_uri)|ea_apply_filter_if_exists('imagine_filter','show_thumb') }}">
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}

        {% set file_upload_js %}
            var newFile = document.getElementById('{{ form.file.vars.id }}').files[0];
            var fileSizeInMegabytes = newFile.size > 1024 * 1024;
            var fileSize = fileSizeInMegabytes ? newFile.size / (1024 * 1024) : newFile.size / 1024;
            document.getElementById('{{ form.file.vars.id }}_new_file_name').innerText = newFile.name + ' (' + fileSize.toFixed(2) + ' ' + (fileSizeInMegabytes ? 'MB' : 'KB') + ')';
        {% endset %}

        <div class="ea-vich-image-actions">
            {# the container element is needed to allow customizing the <input type="file" /> #}
            <div class="btn btn-secondary input-file-container">
                <i class="fa fa-fw fa-upload"></i> {{ 'action.choose_file'|trans({}, 'EasyAdminBundle') }}
                {{ form_widget(form.file, { 'attr': { 'onchange': file_upload_js }, vich: true}) }}
            </div>

            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}
        </div>
        <div class="small" id="{{ form.file.vars.id }}_new_file_name"></div>
    </div>
{% endblock %}

{# motherboard editor #}
{% block _Motherboard_maxcpu_widget %}
{{ form_widget(form)}}
<div style="padding-top:10px;">
    <button id="update-cpu-btn" class="btn btn-secondary" type="button">
        <span class="btn-label"><span class="action-label">Update CPU families</span></span>
    </button>
    <span id="update-cpus-label" style="text-wrap:nowrap;"></span>
</div>
{% endblock _Motherboard_maxcpu_widget %}
{% block _Motherboard_chipset_widget %}
<div style="padding:10px 0px;">
    <button id="update-chipset-btn" class="btn btn-secondary" type="button">
        <span class="btn-label" style="text-wrap:nowrap;"><i class="fa fa-external-link"></i> <span class="action-label">Read expansion chips</span></span>
    </button>
    <button id="reset-chipset-btn" class="btn btn-secondary" type="button">
        <span class="btn-label" style="text-wrap:nowrap;"><i class="fa fa-refresh"></i> <span class="action-label">Reset</span></span>
    </button>
    <button id="update-chips-btn" class="btn btn-secondary" type="button">
        <span class="btn-label" style="text-wrap:nowrap;"><i class="fa fa-refresh"></i> <span class="action-label">Set chips</span></span>
    </button>
    <span id="update-chipset-label"></span>
</div>
{{ form_widget(form)}}
{% endblock _Motherboard_chipset_widget %}
{% block _Motherboard_motherboardIoPorts_entry_count_widget %}
    {{ form_widget(form)}}<span>x</span>
{% endblock _Motherboard_motherboardIoPorts_entry_count_widget %}
{% block _Motherboard_motherboardExpansionSlots_entry_count_widget %}
    {{ form_widget(form)}}<span>x</span>
{% endblock _Motherboard_motherboardExpansionSlots_entry_count_widget %}
{% block _Motherboard_motherboardMemoryConnectors_entry_count_widget %}
    {{ form_widget(form)}}<span>x</span>
{% endblock _Motherboard_motherboardMemoryConnectors_entry_count_widget %}
{% block _Motherboard_motherboardBios_widget %}
<div class="bios-bot-csv-box">
    <div>
        <span>CSV input</span>
        <input id="bios-bot-input" type="file">
        <span id="bios-form-label"></span>
    </div>
    <div>
        <span>Bulk upload</span>
        <input  id="bios-bulk-upload" type="file" multiple="">
        <button id="bulk-upload-btn" type="button" class="btn btn-secondary">Set files</button>
    </div>
</div>
{{ form_widget(form)}}
{% endblock _Motherboard_motherboardBios_widget %}

{% block _Motherboard_manuals_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _Motherboard_manuals_entry_releaseDate_widget %}
{% block _Motherboard_manuals_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _Motherboard_manuals_entry_datePrecision_widget %}
{% block _Motherboard_images_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _Motherboard_images_widget %}
{% block _Motherboard_drivers_widget %}
    {{ form_widget(form)}}
{% endblock _Motherboard_drivers_widget %}
{% block _Motherboard_getChipsWithDrivers_widget %}
    {{ form_widget(form)}}
    {% include 'admin/macros/newdriver.html.twig' with {'entity':'Motherboard_drivers', 'label': 'board'} %}
{% endblock _Motherboard_getChipsWithDrivers_widget %}

{# chipset editor #}
{% block _Chipset_expansionChips_entry_widget %}
{{ form_widget(form, {'attr': {'class': "widget90"}})}}
<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController')
.setController('App\\Controller\\Admin\\ExpansionChipCrudController')
.setAction('edit').setEntityId(form.vars.value)}}">Edit</a>
{% endblock _Chipset_expansionChips_entry_widget %}

{% block _Chipset_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _Chipset_releaseDate_widget %}
{% block _Chipset_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _Chipset_datePrecision_widget %}

{% block _Chipset_documentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _Chipset_documentations_entry_releaseDate_widget %}
{% block _Chipset_documentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _Chipset_documentations_entry_datePrecision_widget %}
{% block _Chipset_drivers_widget %}
    {{ form_widget(form)}}
{% endblock _Chipset_drivers_widget %}
{% block _Chipset_getChipsWithDrivers_widget %}
    {{ form_widget(form)}}
    {% include 'admin/macros/newdriver.html.twig' with {'entity':'Chipset_drivers', 'label': 'chipset'} %}
{% endblock _Chipset_getChipsWithDrivers_widget %}

{# expansion card editor #}
{% block _ExpansionCard_miscSpecs_widget %}
    {% include 'admin/macros/specs.html.twig' with {'entity': 'card', 'form': form} %}
{% endblock _ExpansionCard_miscSpecs_widget %}
{% block _ExpansionChip_miscSpecs_widget %}
    {% include 'admin/macros/specs.html.twig' with {'entity': 'card', 'form': form} %}
{% endblock _ExpansionChip_miscSpecs_widget %}
{% block _ExpansionCardType_template_widget %}
    {% include 'admin/macros/specs.html.twig' with {'entity': '', 'form': form} %}
{% endblock _ExpansionCardType_template_widget %}
{% block _ExpansionChipType_template_widget %}
    {% include 'admin/macros/specs.html.twig' with {'entity': '', 'form': form} %}
{% endblock _ExpansionChipType_template_widget %}
{% block _ExpansionCard_ioPorts_entry_count_widget %}
    {{ form_widget(form)}}<span>x</span>
{% endblock _ExpansionCard_ioPorts_entry_count_widget %}
{% block _ExpansionCard_expansionCardMemoryConnectors_entry_count_widget %}
    {{ form_widget(form)}}<span>x</span>
{% endblock _ExpansionCard_expansionCardMemoryConnectors_entry_count_widget %}
{% block _ExpansionCard_expansionCardPowerConnectors_entry_count_widget %}
    {{ form_widget(form)}}<span>x</span>
{% endblock _ExpansionCard_expansionCardPowerConnectors_entry_count_widget %}
{% block _ExpansionCard_documentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _ExpansionCard_documentations_entry_releaseDate_widget %}
{% block _ExpansionCard_documentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _ExpansionCard_documentations_entry_datePrecision_widget %}
{% block _ExpansionCard_images_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _ExpansionCard_images_widget %}
{% block _ExpansionCard_drivers_widget %}
    {{ form_widget(form)}}
{% endblock _ExpansionCard_drivers_widget %}
{% block _ExpansionCard_getChipsWithDrivers_widget %}
    {{ form_widget(form)}}
    {% include 'admin/macros/newdriver.html.twig' with {'entity':'ExpansionCard_drivers', 'label': 'card'} %}
{% endblock _ExpansionCard_getChipsWithDrivers_widget %}

{# cpu editor #}
{% block _Processor_images_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _Processor_images_widget %}

{# expansion chip editor #}
{% block _ExpansionChip_images_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _ExpansionChip_images_widget %}
{% block _ExpansionChip_documentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _ExpansionChip_documentations_entry_releaseDate_widget %}
{% block _ExpansionChip_documentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _ExpansionChip_documentations_entry_datePrecision_widget %}
{% block _ExpansionChip_drivers_widget %}
    {{ form_widget(form)}}
{% endblock _ExpansionChip_drivers_widget %}
{% block _ExpansionChip_getChipsWithDrivers_widget %}
    {% include 'admin/macros/newdriver.html.twig' with {'entity':'ExpansionChip_drivers', 'label': 'chip'} %}
{% endblock _ExpansionChip_getChipsWithDrivers_widget %}

{# driver editor #}
{% block _LargeFile_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _LargeFile_releaseDate_widget %}
{% block _LargeFile_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _LargeFile_datePrecision_widget %}
{% block _LargeFile_note_widget %}
    <div class="driver-messages">
        <img id="driver-message-err" src="{{ absolute_url(asset('build/icons/warning.svg')) }}" alt="warning" width="25" height="25">
        <span id="message"></span>
        <label for="progressBar"></label>
        <progress hidden="true" id="progressBar"></progress>
        <div id="driver-error-div" style="display:none;">
            <div style="background-color:#d43934;color:#e0e0e0;padding:5px 10px 5px;border-radius:4px;">
			</div>
        </div>
    </div>
    {{ form_widget(form)}}
{% endblock _LargeFile_note_widget %}

{# hdd editor #}
{% block _HardDrive_storageDeviceImages_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _HardDrive_storageDeviceImages_widget %}
{% block _HardDrive_storageDeviceDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _HardDrive_storageDeviceDocumentations_entry_releaseDate_widget %}
{% block _HardDrive_storageDeviceDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _HardDrive_storageDeviceDocumentations_entry_datePrecision_widget %}

{# cdd editor #}
{% block _CdDrive_storageDeviceImages_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _CdDrive_storageDeviceImages_widget %}
{% block _CdDrive_storageDeviceDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _CdDrive_storageDeviceDocumentations_entry_releaseDate_widget %}
{% block _CdDrive_storageDeviceDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _CdDrive_storageDeviceDocumentations_entry_datePrecision_widget %}

{# fdd editor #}
{% block _FloppyDrive_storageDeviceImages_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'image', 'form': form} %}
{% endblock _FloppyDrive_storageDeviceImages_widget %}
{% block _FloppyDrive_storageDeviceDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _FloppyDrive_storageDeviceDocumentations_entry_releaseDate_widget %}
{% block _FloppyDrive_storageDeviceDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _FloppyDrive_storageDeviceDocumentations_entry_datePrecision_widget %}

{# cpu socket editor #}
{% block _CpuSocket_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _CpuSocket_entityDocumentations_entry_releaseDate_widget %}
{% block _CpuSocket_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _CpuSocket_entityDocumentations_entry_datePrecision_widget %}

{# cpu family editor #}
{% block _ProcessorPlatformType_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _ProcessorPlatformType_entityDocumentations_entry_releaseDate_widget %}
{% block _ProcessorPlatformType_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _ProcessorPlatformType_entityDocumentations_entry_datePrecision_widget %}

{# psu connector editor #}
{% block _PSUConnector_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _PSUConnector_entityDocumentations_entry_releaseDate_widget %}
{% block _PSUConnector_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _PSUConnector_entityDocumentations_entry_datePrecision_widget %}

{# expansion slot interface editor #}
{% block _ExpansionSlotInterface_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _ExpansionSlotInterface_entityDocumentations_entry_releaseDate_widget %}
{% block _ExpansionSlotInterface_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _ExpansionSlotInterface_entityDocumentations_entry_datePrecision_widget %}

{# expansion slot signal editor #}
{% block _ExpansionSlotSignal_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _ExpansionSlotSignal_entityDocumentations_entry_releaseDate_widget %}
{% block _ExpansionSlotSignal_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _ExpansionSlotSignal_entityDocumentations_entry_datePrecision_widget %}

{# io port interface editor #}
{% block _IoPortInterface_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _IoPortInterface_entityDocumentations_entry_releaseDate_widget %}
{% block _IoPortInterface_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _IoPortInterface_entityDocumentations_entry_datePrecision_widget %}

{# io port signal editor #}
{% block _IoPortSignal_entityDocumentations_entry_releaseDate_widget %}
    {% include 'admin/macros/widgets.html.twig' with {'type': 'date', 'form': form} %}
{% endblock _IoPortSignal_entityDocumentations_entry_releaseDate_widget %}
{% block _IoPortSignal_entityDocumentations_entry_datePrecision_widget %}
    <div style="display:none;">{{ form_widget(form)}}</div>
{% endblock _IoPortSignal_entityDocumentations_entry_datePrecision_widget %}
{% block _HardDrive_capacity_label %}
    {{ form_label(form)}}
    <button id="hdd-capacity-convert" type="button" class="btn btn-secondary">Get formatted</button>
{% endblock _HardDrive_capacity_label %}
