{% extends 'base.html.twig' %}

{% block title %}Advanced BIOS Info{% endblock %}

{% block metatags %}
	<meta name="description" content="Advanced BIOS info(AMI/Award manufacturer codes), Award chipset IDs">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('bios_list')) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('biossearch') }}">
			<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" width="24" height="24" alt="bios">
            <code class="text-pink-500">BIOS images</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">Chipset and manufacturer IDs</code>
    </div>
</li>
{% endblock %}
{% block body %}
	<div class="title">List of BIOS manufacturer and chipset codes</div>
	{% for manufacturer, codes in biosCodes %}
	<div class="grid-list">
		<p><b>{{manufacturer}} BIOS manufacturer IDs</b></p>
		<ul>
			{% for code in codes %}
				<li>
					{{ code[1] }}:
					{{ code[0] }}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	{% for manufacturer, codes in chipCodes %}
	<div class="grid-list">
		<p><b>{{manufacturer}} chipset IDs</b></p>
		<ul class="block">
			{% for code in codes %}
				<li>{{ code }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
{% endblock %}
