
{% if route is defined and route == true %}{% set typeid = 'route-results' %}{% else %}{% set typeid = domTarget %}{% endif %}
<div id="{{ typeid }}">
{% if bios is defined and bios is not empty %}
	<div class="results lst">
		{{ knp_pagination_render(bios, 'macros/pagination_async.html.twig') }}
		<div class="plain-list w300p table">
			<div class="list-entry centered head">
				<div>Motherboard</div>
				<div>POST string</div>
				<div>Type</div>
				<div>Version</div>
				<div>File</div>
			</div>
			{% for b in bios %}
			<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
				<div class="header-label">Motherboard</div>
				<div>
					<a class="result-link" href="{{ path("motherboard_show", {id: b["id"]}) }}">
						{{ b["manName"]}}&nbsp;{{ b["name"] }}
					</a>
				</div>

				<div class="header-label">POST string</div>
				<div class="monospace">{{ b[0].getPostString() ?: "<span class='badge badge-secondary'>Empty</span>"}}</div>

				<div class="header-label">Type</div>
				<div>{{ b["bmanName"] }} {{ b[0].getCoreVersion() }}</div>

				<div class="header-label">Version</div>
				<div>{{ b[0].getBoardVersion() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>

				<div class="header-label">File</div>
				<div>
					{% if b[0].getFileName() is not null %}
						<a class="combo" href="{{ vich_uploader_asset(b[0], 'romFile') }}">
							<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
							<span>
								{% set fname = b[0].getFileName() %}
								{{ fname|slice(0, fname|length - 27) ~ fname[fname|length - 4 :] }}
							</span>
						</a>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		{{ knp_pagination_render(bios, 'macros/pagination_async.html.twig') }}
	</div>
{% else %}
	No results
{% endif %}
{% if params is defined %}
<div id="search-params-id" style="display:none;">{{params}}</div>
{% endif %}
</div>


