{% extends 'base.html.twig' %}

{% block title %}Search for a BIOS - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a motherboard BIOS by POST string, chipset, manufacturer, and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('biossearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('biossearch') }}">
			<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" width="24" height="24" alt="bios">
            <code class="text-pink-500">BIOS images</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search', 'action':path("biossearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('bioslivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="chip" width="32" height="32">
			Search for a BIOS
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_manufacturer">
					<span>BIOS manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div id="setmanuf">{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_post_string">
					<span>POST string</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.post_string) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'bios', 'dataresetids': 'search_chipsetManufacturer', 'bios_list' : true} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_moboManufacturer">
							<span>Motherboard manufacturer</span>
						</label>
						<div class="search-form-widget">
							<div id="setmanuf">{{ form_widget(form.moboManufacturer, {'attr': {'class': 'sform'}}) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_chipset">
							<span>Chipset</span>
						</label>
						<div class="search-form-widget">
							<div class="search-chipset-ts">{{ form_widget(form.chipset) }}</div>
						</div>
					</div>

					<div class="search-form-entry">
						<label class="search-form-label" for="search_bios_version">
							<span>BIOS version</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.bios_version) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_core_version">
							<span>Core version</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.core_version) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_file_name">
							<span>File name</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.file_name, {'attr': {'style': 'width:15%', 'size': '50'}}) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label flex" title="">
							<span>Expansion chips</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'expansionChips'} %}
						</label>
						<div class="search-form-widget filter-list" id="expansionChips-fields-list" data-widget-counter="{{ form.expansionChips|length }}" data-prototype="
							{{ form_widget(form.expansionChips.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for expchip in form.expansionChips %}
								<div class="editor-row">
									{{ form_widget(expchip, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(expchip) }}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<div class="search-buttons">
					<a class='button-widget' href="{{path("bioshelp")}}">
						<img src='{{ absolute_url(asset('build/icons/search.svg')) }}' alt='' width='24' height='24' style='vertical-align:middle;padding:3px;'>How do I use the search page?</a>
					<a class='button-widget' href="{{path("bios_list")}}">
						<img src='{{ absolute_url(asset('build/icons/awchip.svg')) }}' alt='' width='24' height='24' style='vertical-align:middle;padding:3px;'>BIOS IDs list</a>
					<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
						<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
						<span>Reset</span>
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestBios is defined %}
	<div class="perks">
		<p><b>Last edited BIOSes</b></p>
		<div class="results lst">
			<div class="plain-list w300p table">
				<div class="list-entry centered head">
					<div>Motherboard</div>
					<div>POST string</div>
					<div>Type</div>
					<div>Version</div>
					<div>File</div>
					<div>Logs</div>
				</div>
				{% for b in latestBios %}
				<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
					<div class="header-label">Motherboard</div>
					<div>
						<a class="result-link" href="{{ path("motherboard_show", {id: b["id"]}) }}">
							{{ b["manName"]}}&nbsp;{{ b["name"] }}
						</a>
					</div>
					<div class="header-label">POST string</div>
					<div class="monospace">{{ b[0].getPostString() ?: "<span class='badge badge-secondary'>Empty</span>"}}</div>
					<div class="header-label">Type</div>
					<div>{{ b["bmanName"] }} {{ b[0].getCoreVersion() }}</div>
					<div class="header-label">Version</div>
					<div>{{ b[0].getBoardVersion() ?: "<span class='badge badge-secondary'>Empty</span>" }}</div>
					<div class="header-label">File</div>
					<div>
						{% if b[0].getFileName() is not null %}
							<a class="combo" href="{{ vich_uploader_asset(b[0], 'romFile') }}">
								<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
								<span>
									{% set fname = b[0].getFileName() %}
									{{ fname|slice(0, fname|length - 27) ~ fname[fname|length - 4 :] }}
								</span>
							</a>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
					</div>
					<div class="header-label">Logs</div>
					<div>
						<a href="{{ path('dh_auditor_show_entity_history', { 'entity': 'App-Entity-MotherboardBios', 'id': b[0].getId() }) }}">
							<img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="pwr" width="16" height="16">
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	{% if bios is defined %}
		{% include 'bios/result.html.twig' with {'bios': bios, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}