{% extends 'base.html.twig' %}

{% block title %}Search chipsets - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a chipset by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chipsetsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('chipsetsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/chipsetfull.svg')) }}" width="24" height="24" alt="chipset">
            <code class="text-pink-500">Chipsets</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_chipset', 'action':path("chipsetsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('chipsetlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chipset" width="32" height="32">
			Search for chipsets
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_chipsetManufacturer">
					<span>Manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.chipsetManufacturer) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'chipsets', 'dataresetids': 'search_chipsetManufacturer search_cpuSocket1 search_cpuSocket2', 'search_with_images' : true} %}
		</section>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestChipsets is defined %}
		{% include 'macros/lastedited.html.twig' with {'entity': latestChipsets, 'type':'chipset', 'entity_label':'chipsets', 'path': 'chipset_show'} %}
	{% endif %}
	{% if chipsets is defined %}
		{% include 'chipset/result.html.twig' with {'chipsets': chipsets, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
