{% extends 'base.html.twig' %}

{% block title %}{{ chipset.getFullName() }} - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ chipset.getMetaDescription() }}">
	<link rel="canonical" hreflang="x-default" href="{{ absolute_url(path('chipset_show', {id: chipset.getId()})) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
		<meta name="twitter:card" content="summary">
		<meta property="og:site_name" content="The Retro Web">
		<meta property="og:type" content="website">
		<meta name="twitter:title" content="{{ chipset.getFullName() }}">
		<meta property="og:title" content="{{ chipset.getFullName() }}">
		<meta name="twitter:description" content="{{ chipset.getMetaDescription() }}">
		<meta property="og:description" content="{{ chipset.getMetaDescription() }}">
		<meta property="og:url" content="{{ absolute_url(path('chipset_show', {id: chipset.getId()})) }}">
		{% if chipset.getExpansionChips() is not empty %}
			{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty)|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
				{% for image in chipPart.getImages()|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
					<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
					<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
				{% endfor %}
			{% endfor %}
		{% else %}
			<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }}">
			<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }}">
		{% endif %}
	{% endapply %}
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('chipsetsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/chipsetfull.svg')) }}" width="24" height="24" alt="chipset">
            <code class="text-pink-500">Chipsets</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{chipset.getId()}}</code>
    </div>
</li>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	{% if chipset.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: chipset.getManufacturer().getId()}) }}">{{ chipset.getManufacturer().getName() }}</a>&nbsp;{{ chipset.getNameWithoutManuf() }}
	{% else %}
		{{ chipset.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': chipset, 'entityName': 'Chipset', 'types': ['drivers', 'docs'], 'name': 'chipset', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Chipset parts -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chip" width="24" height="24">Chipset parts
					</div>
					{% if chipset.getExpansionChips() is not empty %}
						<div class="tag-container">
							{% for part in chipset.getExpansionChips()|sort((a, b) => a.sort <=> b.sort) %}
								<a href="{{ path('expansion_chip_show', {id: part.getId()}) }}"><span class="text-block">{{ part.getFullName() }}</span></a>
							{% endfor %}
						</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Release date -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="date" width="24" height="24">Release date
					</div>
					<div class="perk-date-simple">{{ chipset.getReleaseDate() ? chipset.getReleaseDateString() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						{% if chipset.getEncyclopediaLink() is not null %}
						<a class='button-widget' href="{{ chipset.getEncyclopediaLink() }}">
							<img src='{{ absolute_url(asset('build/icons/www.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>Encyclopedia link</a>
						{% endif %}
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?chipsetId={{ chipset.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/board.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards with this chipset</a>
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}bios/?chipsetId={{ chipset.getId() }}">
							<img src='{{ absolute_url(asset('build/icons/awchip.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all BIOSes for this chipset</a>
						</div>
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':chipset.getChipsetAliases(), 'msg': 'Also known as:'} %}
				{% include 'macros/notes.html.twig' with {'entity': chipset} %}
				<div class="textarea">
				{% if chipset.getExpansionChips() is not empty %}
					{% set dcount = false %}
					{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getDescription() is not empty) %}{% set dcount = true %}{% endfor %}
					{% if dcount == true %}
						<hr>
						<h1>Documented parts</h1>
						<ul class="chipset-toc">
							{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getDescription() is not empty)|sort((a, b) => a.sort <=> b.sort) %}
							<li><a href="{{ path("expansion_chip_show", {id:chipPart.getId()}) }}">{{ chipPart.getFullName() }}{% if chipPart.getChipAliases() is not empty %}&nbsp;(known as:{% for cp in chipPart.getChipAliases() %}
							{{ cp.getManufacturer().getName() }}&nbsp;{{ cp.getPartNumber() }} {{ cp.getName() ? '[' ~ cp.getName() ~ ']' }}{% if not loop.last%}, {% endif %}{% endfor %}){% endif %}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}
				</div>
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ chipset.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
			<!-- DRIVERS -->
			<div class="show-downloads" id="sh-driver">
				{% include 'macros/drivers.html.twig' with {'entity': chipset.getAllDrivers(), 'css': 'last'} %}
			</div>
			<!-- Documentation -->
			<div class="show-downloads" id="sh-docs">
				{% include 'macros/manuals.html.twig' with {'entity': chipset.getDocumentations(), 'entity_label':'chipset', 'audit_entity':'App-Entity-ChipsetDocumentation', 'chips': chipset.getChipDocs()} %}
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	{% if chipset.getExpansionChips() is not empty %}
		{% set lpindex = 0 %}
		{% set lplen = 0 %}
		{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty) %}
			{% for image in chipPart.getImages() %}
				{% set lplen = lplen + 1 %}
			{% endfor %}
		{% endfor %}
		{% if lplen > 0 %}
			<div class="show-images" id="sh-images">
				{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty)|sort((a, b) => a.sort <=> b.sort) %}
					{% for image in chipPart.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort) %}
						{% set lpindex = lpindex + 1 %}
						{% include 'macros/images.html.twig' with {'type':'chipset', 'entity': image, 'index': lpindex, 'length': lplen} %}
					{% endfor %}
				{% endfor %}
			</div>
		{% else %}
		<div class="show-images" id="sh-images">
			<div class="show-image">
				<img src={{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }} title="no images available :(" style="width:100%;">
			</div>
		</div>
		{% endif %}
	{% else %}
	<div class="show-images" id="sh-images">
		<div class="show-image">
			<img src={{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }} title="no images available :(" style="width:100%;">
		</div>
	</div>
	{% endif %}

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
